/*
& Remove after experimental
*/
/* bookmark, store, game, header */
.game_bg.application .queue_overflow_ctn .add_to_wishlist::before {
    content: "\f1f6" !important;
    font-size: 22px;
    color: rgb(var(--st-blue));
    font-family: FluentSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.game_bg.application .queue_overflow_ctn .add_to_wishlist:has(img)::before {
    content: "\f1f6" !important;
    font-family: FluentSystemIcons-Filled !important;
}

/* prohibitedmultiple, store, game, header */
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium span::before {
    content: "\e9da" !important;
    font-size: 22px;
    color: #8e8e8e;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium span:hover::before {
    color: #fff;
}


/* arrow right, store, game, header */
.game_bg.application .queue_overflow_ctn .next_in_queue_content >span::before {
    content: "\f182" !important;
    font-size: 22px;
    color: rgb(var(--st-yellow));
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* follow, store, game, header */
.game_bg.application .queue_overflow_ctn .queue_btn_follow .btn_medium::before {
    content: "\f115" !important;
    font-size: 22px;
    color: rgb(var(--st-blue));
    font-family: FluentSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.game_bg.application .queue_overflow_ctn .queue_btn_follow .btn_medium.queue_btn_active::before {
    font-family: FluentSystemIcons-Filled !important;
}
.game_bg.application .queue_overflow_ctn .queue_btn_follow .btn_medium.queue_btn_active:hover::before {
    content: "\f119" !important;
    color: rgb(var(--st-red));
}




body.v6.game_bg.application .game_page_background {
    padding-top: var(--store-menu-overlap-height);
}

body.v6.game_bg.application .page_content_ctn,
body.v6.game_bg.application .page_content {
    position: relative;
    width: 100%;
    max-width: var(--st-store-max-width);
    margin: 0 auto;
}




/*
& Haeder
*/

/*
! Title Area
*/
.game_bg.application .page_title_area .apphub_HomeHeaderContent {
    max-width: unset !important;
}

.game_bg.application .page_title_area .apphub_HeaderStandardTop {
    min-height: unset;
    margin: 0 0 16px;
}


/* Game Path */
.game_bg.application .page_title_area .breadcrumbs {
    display: none;
}

/* Game Title */
.game_bg.application .page_title_area .apphub_HomeHeaderContent {
    max-width: unset;
}

.game_bg.application .page_title_area .apphub_AppName {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}


/* Community Hub */
.game_bg.application .page_title_area .apphub_OtherSiteInfo {
    display: none;
}


/* Sale Event Banner */
.game_bg.application .saleEventBannerLink {
    display: none;
}


/** Blue gradient */
.game_bg.application .game_background_lighten {
    display: none;
}


/*
! Wishlist/Follow Area
*/

.game_bg.application .queue_and_playtime {
    position: unset;
}

.game_bg.application .queue_overflow_ctn {
    position: absolute;
    top: 8px;
    right: 0px;
}

.game_bg.application .queue_overflow_ctn .queue_ctn {
    width: unset;
    margin: 0;
    background: unset;
}

.game_bg.application .queue_overflow_ctn .queue_actions_ctn {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    padding: 0;
}


/** Buttons */
.game_bg.application .queue_overflow_ctn .btn_medium {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #fff !important;
    background: unset;
    background-color: rgb(var(--st-blue), .2);
}
.game_bg.application .queue_overflow_ctn .btn_medium:hover {
    background: unset !important;
    background-color: rgb(var(--st-blue), .4) !important;
}

.game_bg.application .queue_overflow_ctn .btn_medium span {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
}
.game_bg.application .queue_overflow_ctn .btn_medium span img {
    display: none;
}

/*^ Wishlist */
.game_bg.application .queue_overflow_ctn #wishlistDropDown {
    display: none;
}

.game_bg.application .queue_overflow_ctn .add_to_wishlist {
    padding: 0 12px;
}

.game_bg.application .queue_overflow_ctn .add_to_wishlist span {
    display: none;
}

/*^ Follow */
.game_bg.application .queue_overflow_ctn .queue_btn_follow .btn_medium {
    padding: 0 12px;
}
.game_bg.application .queue_overflow_ctn .queue_btn_follow span {
    display: none;
}

/*^ Ignore */
.game_bg.application .queue_overflow_ctn .queue_btn_ignore {
    display: none;
}
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu {
    margin: 0;
}
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium {
    display: flex;
    height: 32px;
    background-color: rgb(var(--st-color-2));
}
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium:hover {
    background-color: rgb(var(--st-color-2)) !important;
}
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium span {
    padding: 0 6px;
}

/*^ Add a note Augmented Steam plugin */
.game_bg.application .queue_overflow_ctn #esi-user-note-button {
    display: none;
}

/*^ View Your Queue */
.game_bg.application .queue_overflow_ctn .btnv6_blue_hoverfade.right {
    display: none;
}

/*^ Queue */
.game_bg.application .queue_overflow_ctn .next_in_queue_area {
    order: 1;
}

.game_bg.application .queue_overflow_ctn .queue_controls_description,
.game_bg.application .queue_overflow_ctn .queue_reason_description {
    display: none;
}

.game_bg.application .queue_overflow_ctn .btn_next_in_queue {
    width: unset;
    height: unset;
    margin: 0;
    background: unset;
}

.game_bg.application .queue_overflow_ctn .next_in_queue_content {
    padding: 0 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-yellow), .4);
}
.game_bg.application .queue_overflow_ctn .next_in_queue_content:hover {
    background-color: rgb(var(--st-yellow), .6);
}
.game_bg.application .queue_overflow_ctn .next_in_queue_content span {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 0px;
}
.game_bg.application .queue_overflow_ctn .next_in_queue_content .queue_sub_text {
    display: none;
}

/*^ clear:; */
.game_bg.application .queue_overflow_ctn div[style="clear: both;"] {
    display: none;
}



/*
& Broadcast
*/
#game_highlights div[data-featuretarget="broadcast-embed"] {
    grid-area: broadcast;
}



/*
& Game Media
*/
.game_bg.application .block.game_media_and_summary_ctn {
    position: relative;
}

.game_bg.application .game_background_glow {
    margin: 0;
    padding: 0;
    background: unset;
}
.game_bg.application .game_background_glow #game_highlights {
    display: grid;
    grid-auto-columns: 1fr auto;
    grid-template-areas:
        "media details";
    gap: 16px;
    padding: 0;
    background: unset;
}
.game_bg.application .game_background_glow #game_highlights:has(.broadcast_embed_top_ctn_trgt) {
    grid-template-areas:
        "broadcast broadcast"
        "media details";
}

div.leftcol:has(.highlight_ctn) {
    grid-area: media;
    width: 100% !important;
}

#game_highlights .highlight_ctn {
    width: 100% !important;
}
.highlight_ctn .highlight_overflow {
    /*display: flex;*/
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}


/*
! Player Area
*/
.highlight_ctn #highlight_player_area {
    width: 100% !important;
    border-radius: 8px;
}


/** Title */
#highlight_player_area .-qTM6xbWp6f2qNHBAuaxc ._2WpHhLTZgfpt1cIY1tId60 {
    margin: 6px;
    padding: 6px;
    border-radius: 8px;
    background: unset;
    background-color: rgb(var(--st-color-3));
    box-shadow: 0px 4px 8px 0px rgba(var(--st-background), 0.5);
    backdrop-filter: blur(0);
    transform: translateY(-100px);
}
#highlight_player_area .-qTM6xbWp6f2qNHBAuaxc._1Cnj-9auRb41WwwRA3hS18 ._2WpHhLTZgfpt1cIY1tId60,
#highlight_player_area .-qTM6xbWp6f2qNHBAuaxc ._2WpHhLTZgfpt1cIY1tId60._1Cnj-9auRb41WwwRA3hS18 {
    transform: translateY(0);
}


/** Expand button */
#highlight_player_area .es_slider_toggle:has(.es_slider_expand) {
    display: none;
}


/** Playbar */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 6px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-3));
    box-shadow: 0px 4px 8px 0px rgba(var(--st-background), 0.5);
    backdrop-filter: blur(0);
    transform: translateY(100px);
}
#highlight_player_area ._1Cnj-9auRb41WwwRA3hS18 .aKceKkwAmCX8Ar8qWcJ7T {
    transform: translateY(0);
}

/*^ Trickplay */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2eh4iDod50HkFNh5C0fVW6 ._2Zd3311XV6d_wOGB8C9H4D {
    bottom: calc(100% + 8px);
    gap: 6px;
    padding: 6px;
    border: 3px solid rgb(var(--st-color-5));
    border-radius: 8px;
    background-color: rgb(var(--st-color-3));
    box-shadow: 0px 4px 8px 0px rgba(var(--st-background), 0.5);
}

/* Image */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2eh4iDod50HkFNh5C0fVW6 ._2Zd3311XV6d_wOGB8C9H4D ._2ZYpYXOs7Rs6UqKCGlQffu {
    border: unset;
    border-radius: 8px;
    background-color: unset;
}

/* Time */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2eh4iDod50HkFNh5C0fVW6 ._2Zd3311XV6d_wOGB8C9H4D .qSkn0N2OLSYYw4IxDl6LF {
    padding: 0;
    color: #fff;
    background-color: transparent;
}

#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2eh4iDod50HkFNh5C0fVW6 ._2Zd3311XV6d_wOGB8C9H4D .qSkn0N2OLSYYw4IxDl6LF::after {
    z-index: -1;
    border-radius: 8px;
    background-color: rgb(var(--st-color-5));
}


/*^ Progressbar */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2eh4iDod50HkFNh5C0fVW6 {
    padding: 0;
}

/* Background */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2eh4iDod50HkFNh5C0fVW6 ._3ezjd4FAgey-Olcl2qvfD4 {
    border-radius: 8px;
    background-color: rgba(var(--st-color-2));
}

/* Loaded */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2eh4iDod50HkFNh5C0fVW6 ._3f4Y1kM_nEtTF4DINVZ_rx {
    border-radius: 8px;
    background-color: rgb(var(--st-color-5));
}

/* Played */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._3ezyMaw8mNCokAmQuZDbj1 {
    border-radius: 8px;
    background-color: rgb(var(--st-blue));
}

/* Trickplay line */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2eh4iDod50HkFNh5C0fVW6 ._1DhQ7PX8QrMx7WGkO0uxy8 {
    top: -4px;
    width: 4px;
    height: calc(100% + 8px);
    border-radius: 8px;
    background-color: rgb(var(--st-blue-hover));
}

/*^ Control Icons */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4::before {
    font-size: 22px;
    color: #8e8e8e;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:hover::before {
    color: #fff;
}

#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4 svg {
    display: none;
}

/* Play/Pause */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:has(path[d="M31.3137 19.5299L10.0583 32.3788C9.77894 32.5477 9.45165 32.6083 9.13395 32.5496C8.81603 32.4909 8.52835 32.3169 8.32083 32.0582C8.11354 31.7995 8 31.4723 8 31.1346V5.4368C8 5.09914 8.11354 4.77196 8.32083 4.51325C8.52833 4.25455 8.81604 4.08049 9.13395 4.02181C9.45165 3.96313 9.77896 4.02377 10.0583 4.19261L31.3137 17.0415C31.593 17.2103 31.8068 17.4769 31.9172 17.7942C32.0276 18.1116 32.0276 18.4598 31.9172 18.7772C31.8068 19.0945 31.593 19.3611 31.3137 19.5299Z"])::before {
    content: "\f610";
}
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:has(path[d="M14.3333 30C14.3333 30.5523 13.8856 31 13.3333 31H8C7.44772 31 7 30.5523 7 30V6C7 5.44772 7.44772 5 8 5H13.3333C13.8856 5 14.3333 5.44772 14.3333 6V30ZM29 6C29 5.44772 28.5523 5 28 5H22.6667C22.1144 5 21.6667 5.44772 21.6667 6V30C21.6667 30.5523 22.1144 31 22.6667 31H28C28.5523 31 29 30.5523 29 30V6Z"])::before {
    content: "\f5ac";
}

/* Volume */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:has(path[d="M14.15 6.00818L14.16 6H14.15V6.00818ZM14.15 18.27V6.00818L7.10342 11.77L14.15 18.27ZM14.15 26.039L1 13.909V23.27H5.11L14.15 30.67V26.039Z"])::before {
    content: "\eb54";
}
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:has(path[d="M19.92 15.89L20.1 16.06C21.38 17.32 21.38 19.35 20.1 20.61L19.92 20.78L17.43 18.33L19.92 15.88V15.89Z"]:not([fill-opacity="0.25"]))::before {
    content: "\f702";
}
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:has(path[d="M24.94 10.96L25.12 11.13C29.17 15.11 29.17 21.56 25.12 25.54L24.94 25.71L21.73 22.56L21.91 22.38C24.17 20.14 24.17 16.52 21.91 14.28L21.73 14.1L24.94 10.95V10.96Z"]:not([fill-opacity="0.5"],[fill-opacity="0.25"]))::before {
    content: "\f704";
}
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:has(path[d="M29.96 6.02002L30.14 6.19002C36.96 12.89 36.96 23.76 30.14 30.46L29.96 30.63L26.75 27.48L26.93 27.3C31.96 22.34 31.96 14.3 26.93 9.34002L26.75 9.16002L29.96 6.02002Z"]:not([fill-opacity="0.5"],[fill-opacity="0.25"]))::before {
    content: "\eb4c";
}

/* Settings */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:has(.DpzfSpwcCrmcxUf4Hb6nM)::before {
    content: "\f6b3";
}

/* Fullscreen */
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:has(path[d="M4 4H14V8H8V14H4V4ZM22 4V8H28V14H32V4H22ZM28 28H22V32H32V22H28V28ZM8 22H4V32H14V28H8V22Z"])::before {
    content: "\e692";
}
#highlight_player_area .aKceKkwAmCX8Ar8qWcJ7T ._2gDbG9frVoBgp4J9N1vA7I ._3XkD6Vq8YzOkmEr9odYcX4:has(path[d="M14 14H4V10H10V4H14V14ZM32 10H26V4H22V14H32V10ZM26 26H32V22H22V32H26V26ZM14 22H4V26H10V32H14V22Z"])::before {
    content: "\e695";
}


/*
! Game Videos & Images
*/
/** Media */
.game_bg.application #game_highlights #highlight_strip {
    overflow: hidden;
    height: 65px;
    margin: 12px 0 6px;
}
.game_bg.application #game_highlights #highlight_strip::after {
    content: "";
    z-index: 55;
    position: absolute;
    right: 0;
    display: flex;
    width: 20px;
    height: 100%;
    background: linear-gradient(90deg, rgba(30, 30, 30, 0) 10%, rgb(30, 30, 30) 100%);
    pointer-events: none;
}

.game_bg.application #game_highlights #highlight_strip:has(#highlight_strip_scroll[style*="left"]:not([style*="left: 0"]))::before {
    content: "";
    z-index: 55;
    position: absolute;
    left: 0;
    display: flex;
    width: 20px;
    height: 100%;
    background: linear-gradient(270deg, rgba(30, 30, 30, 0) 10%, rgb(30, 30, 30) 100%);
    pointer-events: none;
}

/*^ Images */
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item {
    overflow: hidden;
    aspect-ratio: 16 / 9;
    width: auto;
    margin: 0 4px 0 0;
    border-radius: 8px;
}
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item:nth-last-child(1) {
    margin-right: 0;
}
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item.focus {
    box-sizing: border-box;
}


.game_bg.application #game_highlights #highlight_strip .highlight_strip_item img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

/*^ Video play icon */
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item .highlight_movie_marker {
    display: none;
}
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item:has(.highlight_movie_marker)::before {
    content: "\f612" !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*^ Slider Left&Right Buttons */
.game_bg.application #game_highlights .slider_ctn .slider_left,
.game_bg.application #game_highlights .slider_ctn .slider_right {
    display: none;
}

/*^ Slider Scollbar */
.game_bg.application #game_highlights .slider_ctn:has(.slider[style*="display: none"]) {
    display: none;
}

.game_bg.application #game_highlights .slider_ctn .slider {
    left: 0;
    right: 0;
    padding: 6px;
    border-radius: 100px;
    background-color: rgb(var(--st-color-1));
}

.game_bg.application #game_highlights .slider_ctn .handle {
    width: 120px;
    height: -webkit-fill-available;
    margin: 6px;
    border-radius: 100px;
    background-color: rgb(var(--st-accent-1));
}
.game_bg.application #game_highlights .slider_ctn .handle:hover {
    margin: 5px;
    padding-right: 3px;
    background: unset;
    background-color: rgb(var(--st-accent-2));
}



/*
& Details 
*/
.game_bg.application #game_highlights .rightcol {
    grid-area: details;
    width: 348px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}


.game_bg.application #game_highlights .rightcol .glance_ctn {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.game_bg.application #game_highlights .rightcol .glance_ctn .game_header_ctn {
    gap: unset;
}


/*
! Banner
*/
.game_bg.application #game_highlights .rightcol .game_header_image_ctn {
    margin-bottom: 6px;
}
.game_bg.application #game_highlights .rightcol .game_header_image_full {
    aspect-ratio: 92 / 43;
    width: 100%;
    height: auto;
    border-radius: 8px;
}


/*
! Description
*/
.game_bg.application #game_highlights .rightcol .game_description_snippet {
    padding: 0;
    line-height: unset;
}


/*
! Divider
*/
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin: 12px 0;
    border-radius: 8px;
    background-color: rgb(var(--st-color-1));
}


/*
! Infos
*/
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .subtitle {
    min-width: fit-content;
    padding-right: 6px;
    font-size: 13px;
    text-transform: unset;
    color: #97A0A8;
}
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .summary.column,
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .date {
    color: #c6d4df;
}


/** Reviews */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .user_reviews {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .user_reviews .summary.column {
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

/*^ Anomaly */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .user_reviews .summary.column .review_anomaly_icon {
    position: absolute;
    left: -7px;
    top: -4px;
}

/*^ Negative */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .user_reviews .game_review_summary  {
    color: rgb(var(--st-red));
}

/*^ Mixed */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .user_reviews .game_review_summary.mixed {
    color: rgb(var(--st-yellow));
}

/*^ Positive */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .user_reviews .game_review_summary.positive {
    color: rgb(var(--st-green));
}


/** Release Date */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .release_date {
    padding: 12px 0;
}


/** Devs & Publisher */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .dev_row:has(#developers_list) {
    padding-bottom: 4px;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .dev_row .summary a {
    white-space: normal;
    color: rgb(var(--st-blue));
}
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .dev_row .summary a:hover {
    color: rgb(var(--st-blue-hover));
}


/*
! Tags
*/
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right {
    margin-top: auto;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn {
    margin: 0;
}


/* Text */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .responsive_block_header {
    display: flex;
    line-height: 19px;
    color: #97A0A8;
}
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .responsive_block_header::after {
    content: ":";
    line-height: 19px;
    color: #97A0A8;
}

/* Lable */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .glance_tags_label {
    display: none;
}


/* Tags */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .popular_tags {
    display: flex;
    white-space: warp;
    gap: 6px;
    height: unset;
    margin-top: 6px;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .popular_tags .app_tag {
    height: unset;
    margin: 0;
    padding: 6px 8px;
    line-height: unset;
    font-weight: 500;
    border-radius: 8px;
    color: #8f98a0;
    background-color: rgb(var(--st-blue), .1);
}
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .popular_tags .app_tag:hover {
    background: unset;
    background-color: rgb(var(--st-blue), .3);
}



/*
& Already Owned
*/
body.v6.game_bg.application .game_area_already_owned {
    display: flex;
    width: auto;
    height: unset;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: unset;
    border: 3px solid rgb(var(--st-blue));
    border-radius: 8px;
    color: rgb(var(--st-blue));
    background: unset;
    background-color: rgb(var(--st-blue), .4);
}


/** Icon */
.game_bg.application .game_area_already_owned .ds_flag {
    display: none;
}

/*^ Custom */ /* custom-icon */
.game_bg.application .game_area_already_owned::before {
    content: "\f4ab";
    display: inline-block;
    margin-right: 6px;
    font-size: 20px;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}




/*
& Game Review
*/
.game_bg.application .game_area_play_stats {
    max-width: unset;
    margin: 0 0 16px;
    padding: 12px;
    border-radius: 8px;
    background: none;
    background-color: rgb(var(--st-color-2));
}
.game_bg.application:has(.game_area_already_owned) .game_area_play_stats {
    margin-top: 16px;
}


/*
! Play button & Playtime
*/
/** Play button */
.game_bg.application .game_area_play_stats .already_owned_actions {
    display: none;
}


/** Playtime */
.game_bg.application .game_area_play_stats .myactivity_block {
    display: none;
}


/*
! Content
*/
.game_bg.application .game_area_play_stats #review_create {
    max-width: unset;
    padding: 0;
}


/** Title */
.game_bg.application .game_area_play_stats #review_create h2 {
    padding: 0;
    font-weight: 400;
    border: none;
    color: #fff;
}


/** Description */
.game_bg.application .game_area_play_stats #review_create p {
    margin-bottom: 12px;
    line-height: 14px
}


/** Error */
.game_bg.application .game_area_play_stats #review_create .error_message {
    font-weight: 600;
    color: rgb(var(--st-red));
}


/** Avatar */
.game_bg.application .game_area_play_stats #review_create .avatar_block {
    display: none;
}


/** Textarea */
.game_bg.application .game_area_play_stats #review_create .input_box {
    width: -webkit-fill-available !important;
    max-width: unset;
    border: 3px solid rgb(var(--st-color-5));
    border-radius: 8px;
    background-color: rgb(var(--st-color-3));
    box-shadow: none;
}


/** Controls */
.game_bg.application .game_area_play_stats #review_create .controls {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 12px;
}

/*^ Settings */
.game_bg.application .game_area_play_stats #review_create .controls .review_controls {
    max-width: unset;
    margin: 0;
    padding: 0;
    background: unset;
}

/*^ Yes/No buttons */
.game_bg.application .game_area_play_stats #review_create .controls .review_control_didyouenjoy {
    display: none;
}

.game_bg.application .game_area_play_stats #review_create .controls .review_create_vote_controls {
    display: flex;
    gap: 6px;
}


/*^ Post review */





/*
& Game Purchase / Infos etc.
*/
.game_bg.application .game_description_column {
    width: calc(100% - 372px - 16px);
    margin: 0;
}




/*
& Sidebar
*/
.game_bg.application .game_meta_data {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 372px;
    margin: 0;
}


/** clear:; */
.game_bg.application .game_meta_data div[style="clear: both;"] {
    display: none;
}


/** emtpy divs */
.game_bg.application #responsive_apppage_details_left_ctn,
.game_bg.application #responsive_apppage_details_right_ctn {
    display: none;
}


/*
! Containers
*/
.game_bg.application .game_meta_data .responsive_apppage_details_right,
.game_bg.application .game_meta_data .responsive_apppage_details_left {
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    background: unset;
    background-color: rgb(var(--st-color-2));
}


/*
! Age Rating
*/
.game_bg.application .game_meta_data .shared_game_rating {
    position: relative;
    display: flex;
}


/** Age Image */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_details {
    margin: 0;
}

.game_bg.application .game_meta_data .shared_game_rating .game_rating_details .game_rating_icon {
    margin-right: 12px;
}

.game_bg.application .game_meta_data .shared_game_rating img,
.game_bg.application .game_meta_data .shared_game_rating .game_rating_allages {
    display: none;
}


/** Custom Age Icon */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img, .game_rating_allages)::before {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    font-size: 34px;
    font-weight: 900;
    border-radius: 8px;
}

/*^ Rating Pedding */
.game_bg.application .game_meta_data .shared_game_rating:not(:has(.game_rating_icon))::before {
    content: "\f840";
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    font-size: 34px;
    font-weight: 900;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, .2);
}

.game_bg.application .game_meta_data .shared_game_rating:not(:has(.game_rating_icon)) .game_rating_title {
    display: none;
}

/*^ 21+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="21"])::before {
    content: "21";
    border: 3px solid rgb(var(--st-red));
    color: rgb(var(--st-red));
    background-color: rgb(var(--st-red), .2);
}

/*^ 18+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="18"])::before {
    content: "18";
    border: 3px solid rgb(var(--st-red));
    color: rgb(var(--st-red));
    background-color: rgb(var(--st-red), .2);
}

/*^ 17+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="17"])::before {
    content: "17";
    border: 3px solid rgb(var(--st-blue));
    color: rgb(var(--st-blue));
    background-color: rgb(var(--st-blue), .2);
}

/*^ 16+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="16"])::before {
    content: "16";
    border: 3px solid rgb(var(--st-blue));
    color: rgb(var(--st-blue));
    background-color: rgb(var(--st-blue), .2);
}

/*^ 15+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="15"])::before {
    content: "15";
    border: 3px solid rgb(var(--st-green));
    color: rgb(var(--st-green));
    background-color: rgb(var(--st-green), .2);
}

/*^ 14+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="14"])::before {
    content: "14";
    border: 3px solid rgb(var(--st-green));
    color: rgb(var(--st-green));
    background-color: rgb(var(--st-green), .2);
}

/*^ 13+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="13"])::before {
    content: "13";
    border: 3px solid rgb(var(--st-green));
    color: rgb(var(--st-green));
    background-color: rgb(var(--st-green), .2);
}

/*^ 12+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="12"])::before {
    content: "12";
    border: 3px solid rgb(var(--st-green));
    color: rgb(var(--st-green));
    background-color: rgb(var(--st-green), .2);
}

/*^ 10+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="10"])::before {
    content: "10";
    border: 3px solid rgb(var(--st-yellow));
    color: rgb(var(--st-yellow));
    background-color: rgb(var(--st-yellow), .2);
}

/*^ 7+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="7"])::before {
    content: "7";
    border: 3px solid rgb(var(--st-yellow));
    color: rgb(var(--st-yellow));
    background-color: rgb(var(--st-yellow), .2);
}

/*^ 6+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="6"])::before {
    content: "6";
    border: 3px solid rgb(var(--st-yellow));
    color: rgb(var(--st-yellow));
    background-color: rgb(var(--st-yellow), .2);
}

/*^ 3+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(img[alt*="3"])::before {
    content: "3";
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, .2);
}

/*^ 0+ */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_icon:has(.game_rating_allages, img[alt*="0"])::before {
    content: "0";
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, .2);
}


/** Text */
/*^ Agency */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_agency {
    position: absolute;
    left: calc(70px + 12px);
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}

/*^ Desciption */
.game_bg.application .game_meta_data .shared_game_rating .game_rating_descriptors,
.game_bg.application .game_meta_data .shared_game_rating .game_content_categories {
    margin-top: 20px;
}


/*
! Relevant
*/
/** Header text */
.game_bg.application .game_meta_data .responsive_apppage_details_right.heading {
    display: none;
}


/** Icon fix */
.game_bg.application .game_meta_data .responsive_apppage_details_right.recommendation_reasons .reason::before {
    position: unset;
    margin: 0;
    margin-right: 6px;
}



/*
& Details on Top

.game_bg.application .game_background_glow #game_highlights {
    flex-direction: column;
}


.game_bg.application #game_highlights .rightcol {
    box-sizing: border-box;
    width: 100%;
}


/*
! Grid

.game_bg.application #game_highlights .rightcol .glance_ctn {
    display: grid;
    grid-template-areas:
        "image disc"
        "image infos"
        "image tags";
    grid-template-rows: auto 1fr;
    height: calc(100% - 3px);
}


/*
!Banner

.game_bg.application #game_highlights .rightcol .game_header_image_ctn {
    grid-area: image;
    height: calc(100% - 3px);
    margin: 0 12px 0 0;
}


/*
! Description

.game_bg.application #game_highlights .rightcol .game_description_snippet {
    grid-area: disc;
    height: fit-content;
    padding: 0;
    line-height: unset;
    -webkit-line-clamp: 2;
}



/*
! Divider

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left::before {
    display: none;
}


/*
! Infos

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-areas:
        "reviews release steamdb support"
        "devs devs devs devs"
        "publisher publisher publisher publisher";
}


/* Reviews
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .user_reviews {
    grid-area: reviews;
}


/* Release
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .release_date {
    grid-area: release;
    flex-direction: column;
}


/* SteamDB
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .steamdb_last_update {
    grid-area: steamdb !important;
    flex-direction: column;
    margin-top: 0;
    padding-top: 9px;
}


/* Support
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .release_date[style="padding-bottom: 0;"] {
    grid-area: support;
    flex-direction: column;
}


/* Devs
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .dev_row:has(#developers_list) {
    grid-area: devs;
}


/* Publisher
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .dev_row {
    grid-area: publisher;
}


/*
! Tags

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right {
    grid-template-areas: "lable divs";
    grid-area: tags;
    display: grid;
    grid-template-columns: max-content 97%;
    gap: 6px;
    align-items: center;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .responsive_block_header {
    grid-area: lable;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn {
    grid-area: divs;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .popular_tags {
    margin-top: 0;
}