/* Banner */
.menu_takeover_background {
    display: none;
}

.store_bg_overlay {
    display: none;
}


.promo_link {
    width: 100%;
    max-width: var(--st-store-max-width);
    margin-left: 50%;
    border-radius: 8px;
    transform: translateX(-50%);
}

.page_background_holder,
.fullscreen-bg__video {
    object-fit: none;
    width: 100%;
    max-width: var(--st-store-max-width);
    height: 450px;
    right: 50% !important;
    left: 50% !important;
    border-radius: 8px;
    transform: translateX(-50%);
}









/*
& Discovery
*/
/*! remove when everything is ready */
.home_page_content:has(.discovery_queue_ctn) {
    width: var(--st-store-max-width);
}



.home_page_content .discovery_queue_ctn .home_page_content_title {
    width: -webkit-fill-available;
    padding: 0;
}



.home_page_content .discovery_queue_ctn {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}



.home_page_content .discovery_queue_ctn .discovery_queue_static {
    padding: 0px;
}



.home_page_content .discovery_queue_ctn .discovery_queue_overlay {
    display: flex;
}



.home_page_content .discovery_queue_ctn .begin_exploring {
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 12px 16px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
    background: none;
    background-color: rgb(var(--st-color-1), .7);
    box-shadow: unset;
    backdrop-filter: blur(4px);
    transition: all 0.2s ease-in-out;
}

.home_page_content .discovery_queue_ctn .discovery_queue_static:hover .begin_exploring {
    transform: scale(1.03);
}




.home_page_content .discovery_queue_ctn .begin_exploring::after {
    display: none;
}




.home_page_content .discovery_queue_ctn .discovery_queue_static .discovery_queue {
    display: flex;
    gap: 12px;
    height: unset;
}



.home_page_content .discovery_queue_ctn .dq_item {
    position: unset;
    width: auto;
    height: auto;
    box-shadow: unset;
}



.home_page_content .discovery_queue_ctn .dq_item_overlay {
    display: none;
}



.home_page_content .discovery_queue_ctn .dq_item .dq_item_cap {
    border-radius: 8px;
}



/*
& Browse Steam section
*/
.home_page_content:has(#browse_steam_header) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: var(--st-store-max-width);
    min-height: unset;
}


/*
! Title
*/
.home_page_content #browse_steam_header {
    margin: 0;
    padding: 0;
}


/*
! Buttons
*/
.home_page_content:has(#browse_steam_header) .button_container {
    gap: 12px;
}


.home_page_content:has(#browse_steam_header) .button_container .big_button {
    height: 54px;
    padding: 6px;
    font-weight: 800;
    letter-spacing: unset;
    border: 3px solid rgb(var(--st-blue));
    border-radius: 8px;
    color: rgb(var(--st-blue));
    background: unset;
    background-color: rgb(var(--st-blue), .2);
    box-shadow: unset;
}
.home_page_content:has(#browse_steam_header) .button_container .big_button:hover {
    background: unset;
    background-color: rgb(var(--st-blue), .4);
}



/*
& New & Trending, Top Sellers list section
*/
.home_page_body_ctn .home_ctn.tab_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 16px 0 0;
    padding: 0;
    background: unset;
}

.home_ctn.tab_container > div {
    margin-top: unset !important;
}


/*
! Tabs
*/
.home_ctn.tab_container .home_tabs_row_ctn {
    box-sizing: border-box;
    width: var(--st-store-max-width);
    margin: 0 auto 0;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}

.home_ctn.tab_container .home_tabs_row_ctn .store_horizontal_minislider_ctn {
    height: unset !important;
}

.home_ctn.tab_container .home_tabs_row_ctn .home_tabs_row {
    display: flex;
    gap: 6px;
}


/** Items */
.home_ctn.tab_container .home_tabs_row_ctn .home_tabs_row .home_tab {
    margin: 0;
    padding: 6px 12px;
    border: none !important;
    background: unset;
    background-color: rgb(var(--st-color-3));
}
.home_ctn.tab_container .home_tabs_row_ctn .home_tabs_row .home_tab:hover {
    background-color: rgb(var(--st-color-4));
}

.home_ctn.tab_container .home_tabs_row_ctn .home_tabs_row .home_tab.active {
    font-weight: 600;
    background-color: rgb(var(--st-color-1));
}

.home_ctn.tab_container .home_tabs_row_ctn .home_tabs_row .home_tab .tab_content {
    padding: 0;
    line-height: unset;
    color: #fff;
    text-shadow: unset;
    background: unset;
    background-color: unset;
}


/*
! Content
*/
.home_ctn.tab_container .flex_cols {
    gap: 12px;
    width: var(--st-store-max-width);
}


.home_ctn.tab_container .flex_cols [style="clear: both;"] {
    display: none;
}


/*
! List
*/
.home_ctn.tab_container .flex_cols .home_leftcol {
    width: 100%;
}

.home_ctn.tab_container .flex_cols .home_leftcol .home_tabs_content {
    min-height: unset;
}

.home_ctn.tab_container .flex_cols .home_leftcol .tab_content_items {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


/** Items */
.home_ctn.tab_container .flex_cols .home_leftcol .tab_content_items .tab_item {
    display: flex;
    gap: 12px;
    height: unset;
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}
.home_ctn.tab_container .flex_cols .home_leftcol .tab_content_items .tab_item:nth-last-child(-n+4) {
    display: none;
}

.home_ctn.tab_container .flex_cols .home_leftcol .tab_content_items .tab_item.focus {
    transform: scale(1.01);
    background: unset;
    background-color: rgb(var(--st-color-2));
    box-shadow: 0px 4px 8px 0px rgba(var(--st-background), 0.5);
}

/*^ Image */
.home_ctn.tab_container .flex_cols .home_leftcol .tab_content_items .tab_item .tab_item_cap {
    position: unset;
}

.home_ctn.tab_container .flex_cols .home_leftcol .tab_content_items .tab_item .tab_item_cap_img {
    border-radius: 8px;
}

/*^ Text */
.home_ctn.tab_container .flex_cols .home_leftcol .tab_content_items .tab_item .tab_item_name {
    color: #c7d5e0;
}

/*^ Price */
.home_ctn.tab_container .flex_cols .home_leftcol .tab_content_items .tab_item .discount_block {
    order: 1;
}


/*
! Sidebar/Preview
*/
.home_ctn.tab_container .flex_cols .home_rightcol {
    flex: unset;
    min-width: 400px;
    margin: 0;
}

.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container {
    flex: unset;
    margin: unset;
    padding: 12px;
    border-radius: 8px;
    background: unset;
    background-color: rgb(var(--st-color-2));
}


.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tab_preview {
    position: unset;
    display: none;
}

.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tab_preview.focus {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/** Title */
.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tab_title {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

/** Reviews */
.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tab_review_summary {
    display: flex;
    gap: 4px;
    width: unset;
    margin: 0;
    padding: 0;
    color: #97A0A8;
    background: unset;
}


.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tab_review_summary span:not(.game_review_summary) {
    color: #c6d4df;
}


.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tab_review_summary .game_review_summary {
    order: 2;
    margin-left: auto;
    color: rgb(var(--st-red));
}

/*^ Mixed */
.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tab_review_summary .game_review_summary.mixed {
    color: rgb(var(--st-yellow));
}

/*^ Positive */
.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tab_review_summary .game_review_summary.positive {
    color: rgb(var(--st-green));
}

/** Tags */
.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tags {
    overflow: unset;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    height: unset;
    margin: 0;
}

.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tags::after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-1));
}

/*^ Tag */
.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tags a {
    height: unset;
    margin: 0;
    padding: 6px 8px;
    line-height: unset;
    font-weight: 500;
    border-radius: 8px;
    color: #8f98a0;
    background-color: rgb(var(--st-blue), .1);
}
.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .tags a:hover {
    background-color: rgb(var(--st-blue), .3);
}

/** Screenshots */
.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .screenshot {
    width: 185px;
    margin: 0;
    border-radius: 8px;
}


.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .screenshot:nth-last-child(3) {
    position: absolute;
    bottom: 122.06px;
    right: 12px;
}

.home_ctn.tab_container .flex_cols .home_rightcol #tab_preview_container .screenshot:nth-last-child(1) {
    position: absolute;
    bottom: 12px;
    right: 12px;
}


/*
! See more
*/
.home_ctn.tab_container .flex_cols .home_leftcol .tab_see_more {
    margin-top: 12px;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}



/*
& Your recent play*** section
*/
.page_content_ctn.dark {
    background-color: unset !important;
}

.page_content_ctn.dark .home_page_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: unset;
    margin: calc(16px * 2) 0 0;
}

.page_content_ctn.dark .home_content {
    padding: 0;
}


/*
! Title
*/
.page_content_ctn.dark .home_content h2,
.page_content_ctn.dark .home_content h2 span {
    margin: 0 0 6px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}


/*
! Games
*/
.page_content_ctn.dark .home_content .home_content_items {
    display: flex;
    gap: 12px;
}


.page_content_ctn.dark .home_content .home_content_item {
    float: unset;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    margin: 0 !important;
    padding: 12px !important;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
    box-shadow: unset !important;
}


/** Images */
.page_content_ctn.dark .home_content .home_content_item img {
    border-radius: 8px;
}


/** Live Tag */
.page_content_ctn.dark .home_content .home_content_item .broadcast_live_stream_icon {
    top: 16px;
    left: 16px;
}


/** Game Name */
.page_content_ctn.dark .home_content .home_content_item .home_content_item_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    height: -webkit-fill-available;
}


.page_content_ctn.dark .home_content .home_content_item .home_smallcap_title {
    font-size: 14px;
    font-weight: 600;
}



/*
& Since you ** section
*/
.home_page_content.gp_contiguous_singles {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: unset;
    margin: calc(16px * 2) 0 0;
}


/*
! Game
*/
.home_page_content.gp_contiguous_singles .home_content {
    position: relative;
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}


/** Title */
.home_page_content.gp_contiguous_singles .home_content .single_title {
    font-size: 22px;
    font-weight: 600;
}

/*^ Reason */
.home_page_content.gp_contiguous_singles .home_content .home_content_reason {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
}


/** Images */
.home_page_content.gp_contiguous_singles .home_content .gamelink {
    position: unset;
    display: flex;
}


.home_page_content.gp_contiguous_singles .home_content .gamelink .screenshots {
    z-index: unset;
    display: flex;
    gap: 6px;
    margin-left: 6px;
}


.home_page_content.gp_contiguous_singles .home_content .gamelink a {
    display: flex;
    margin: 0;
    width: unset;
    background: unset;
}

.home_page_content.gp_contiguous_singles .home_content .gamelink img {
    width: auto;
    height: 142px;
    max-height: unset;
    border-radius: 8px;
    box-shadow: unset;
}


/** Live Tag */
.home_page_content.gp_contiguous_singles .broadcast_live_stream_icon {
    top: unset;
    left: unset;
    margin: 5px;
}


/** Price */
.home_page_content.gp_contiguous_singles .home_content .discount_block_ctn {
    position: absolute;
    top: 12px;
    right: 12px;
}


/*
! Button Bar
*/
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar {
    justify-content: flex-end;
    gap: 6px;
    margin-top: 6px;
    padding: 6px 12px;
}


/** Button */
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar * {
    margin: 0;
}

.home_page_content.gp_contiguous_singles .home_content.single_buttonbar>:nth-child(1) {
    margin-right: auto !important;
}

.home_page_content.gp_contiguous_singles .home_content.single_buttonbar .single_buttonbar_group {
    gap: 6px;
}

.home_page_content.gp_contiguous_singles .home_content.single_buttonbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    background: unset !important;
    background-color: rgb(var(--st-color-3)) !important;
}
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar a:hover {
    background-color: rgb(var(--st-color-4)) !important;
}


/** Custom Icon Buttons */
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar span {
    display: none;
}

/*^ Visit Page */
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar>:nth-child(1)::before {
    content: "\f58d";
    font-size: 22px;
    color: #8e8e8e;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*^ Wishlist */
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar .single_buttonbar_group a[onclick*="AddToWishlistButton"] {
    width: unset;
    padding: 0 12px;
    background-color: rgb(var(--st-blue), .2) !important;
}
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar .single_buttonbar_group a[onclick*="AddToWishlistButton"]:hover {
    background-color: rgb(var(--st-blue), .4) !important;
}

.home_page_content.gp_contiguous_singles .home_content.single_buttonbar .single_buttonbar_group a[onclick*="AddToWishlistButton"]::before {
    content: "\f1f6";
    font-size: 22px;
    color: rgb(var(--st-blue));
    font-family: FluentSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar .single_buttonbar_group a[onclick*="AddToWishlistButton"]:hover::before,
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar .single_buttonbar_group a[onclick*="AddToWishlistButton"].btn_disabled::before {
    font-family: FluentSystemIcons-Filled !important;
}

/*^ Ignore */
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar .single_buttonbar_group a[onclick*="IgnoreButton"]::before {
    content: "\e9da";
    font-size: 22px;
    color: #8e8e8e;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*^ See more */
.home_page_content.gp_contiguous_singles .home_content.single_buttonbar>:nth-last-child(1)::before {
    content: "\e833";
    font-size: 22px;
    color: #8e8e8e;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


/*
! ds Option
*/
.home_page_content.gp_contiguous_singles .ds_options {
    display: none;
}