.search_price_discount_combined {
    width: unset !important;
}



/*
& Header
*/
.search_page .page_header_ctn.search {
    margin: 0;
    padding: 0;
    background: unset;
}

.search_page .page_header_ctn .breadcrumbs,
.search_page .page_header_ctn h2.pageheader {
    display: none;
}



/*
! Title
*/
.search_page .page_header_ctn #termsnone {
    display: block !important;
}

.search_page .page_header_ctn .pagesubheader {
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: 800;
    line-height: 28px;
    color: #fff;
}
.search_page .page_header_ctn:has(.searchtag.tag_dynamic) .pagesubheader {
    margin-bottom: 0;
}



/*
! Tag/Subtitle
*/
.search_page .page_header_ctn .searchtag.tag_dynamic {
    margin: 0 0 16px;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    color: #a9a9a9;
    background-color: unset;
}

/** Dismiss icon */
.search_page .page_header_ctn .searchtag.tag_dynamic .btn {
    display: none;
}



/*
& Controls
*/
/*
! Top Controls
*/
.search_page .searchbar {
    margin: 0;
    padding: 12px;
    border-radius: 8px 8px 0 0;
    background-color: rgb(var(--st-color-2));
}

.search_page .searchbar .searchbar_left {
    display: flex;
    height: 30px;
    padding: 0;
}


/*** Search Bar */
.search_page .searchbar .searchbar_left #term {
    width: 200px;
    height: 30px;
    padding: 0 12px;
    border: unset;
    border-radius: 8px 0 0 8px;
    color: #dcdedf;
    background-color: rgb(var(--st-color-1));
    box-shadow: unset;
    transition: 0.4s all ease-in-out;
}
.search_page .searchbar .searchbar_left #term:is(:hover, :focus) {
    width: 400px;
}

/*^ Search Icon */
.search_page .searchbar .searchbar_left button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border-radius: 0 8px 8px 0 !important;
    background: unset !important;
    background-color: rgb(var(--st-color-1)) !important;
}

/* Text */
.search_page .searchbar .searchbar_left button span {
    display: none;
}

/* Custom icon */
.search_page .searchbar .searchbar_left button::before {
    content: "\f69a" !important;
    font-size: 18px;
    color: #dcdedf;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}

/*^ Result list */
.search_page .searchbar .searchbar_left #term_options {
    overflow: hidden;
    left: unset !important;
    width: 430px !important;
    margin-top: 6px;
    padding: 6px;
    font-weight: 500;
    border: 3px solid rgb(var(--st-color-5));
    border-radius: 8px;
    color: #fff;
    background-color: rgb(var(--st-color-2));
    box-shadow: 0px 4px 8px 0px rgba(var(--st-background), 0.5);
}

/* Items */
.search_page .searchbar .searchbar_left #term_options li {
    overflow: hidden;
    padding: 6px;
    text-overflow: ellipsis;
    border-radius: 8px;
}
.search_page .searchbar .searchbar_left #term_options li.selected {
    background-color: rgb(var(--st-color-3));
}


/*** Sort By */
.search_page .searchbar .sortbox {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 30px;
    margin: 0;
}

/*^ Text */
.search_page .searchbar .sortbox .label {
    margin: 0;
    font-weight: 500;
    color: #dcdedf;
}

/*^ Dropdown Button */
.search_page .searchbar .sortbox .dselect_container {
    width: unset;
}

.search_page .searchbar .sortbox .dselect_container button {
    overflow: hidden;
    max-width: 140px;
    height: 30px;
    padding: 0 calc(12px + 14px) 0 12px;
    font-weight: 600;
    color: #fff;
    background: unset;
    background-color: rgb(var(--st-color-1));
}

.search_page .searchbar .sortbox .dselect_container button::after {
    content: "\f262" !important;
    width: unset;
    margin-right: 6px;
    font-size: 14px;
    color: #dcdedf;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    background: unset;
}

/*^ Sort list */
.search_page .dselect_container #sort_by_droplist {
    overflow: hidden;
    top: unset !important;
    left: unset !important;
    margin-top: 6px;
    padding: 6px;
    font-weight: 500;
    border: 3px solid rgb(var(--st-color-5));
    border-radius: 8px;
    color: #fff;
    background-color: rgb(var(--st-color-2));
    box-shadow: 0px 4px 8px 0px rgba(var(--st-background), 0.5);
}

/* Items */
.search_page .dselect_container #sort_by_droplist a {
    padding: 6px;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    color: #fff;
}
.search_page .dselect_container #sort_by_droplist a.highlighted_selection {
    background: unset;
    background-color: rgb(var(--st-color-3));
}


/*
! Warning
*/
.search_page .search_results_filtered_warning {
    margin: 0;
    padding: 0 12px 12px;
    border-radius: 0 0 8px 8px;
    background-color: rgb(var(--st-color-2));
}

.search_results_filtered_warning > div:first-child {
    padding: 12px;
    font-weight: 800;
    border: 2px solid rgb(var(--st-yellow));
    border-radius: 8px;
    color: #fff;
    background-color: rgb(var(--st-yellow), .2);
}



/*
& List
*/
.search_page #search_result_container {
    margin-top: 12px;
}

.search_page #search_result_container #search_resultsRows {
    gap: 6px;
}



/*
! Game Cards
*/
.search_page #search_result_container .search_result_row {
    gap: 6px;
    width: -webkit-fill-available;
    padding: 12px;
    font-weight: 600;
    border: unset;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}


/** In Library/Wishlist */
/*^ In Library */
.search_page #search_result_container .ds_owned_flag {
    position: absolute;
    top: 6px;
    left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: unset;
    width: 22px;
    height: 22px;
    padding: 0px;
    font-size: 0;
    border-radius: 8px;
    background: unset;
    background-color: rgb(var(--st-green));
}

.search_page #search_result_container .ds_owned_flag::before {
    content: "\f4dd";
    position: absolute;
    font-size: 14px;
    color: #fff;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*^ In Wishlist */
.search_page #search_result_container .ds_wishlist_flag {
    position: absolute;
    top: 6px;
    left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: unset;
    width: 22px;
    height: 22px;
    padding: 0px;
    font-size: 0;
    border-radius: 8px;
    background: unset;
    background-color: rgb(var(--st-blue));
}

.search_page #search_result_container .ds_wishlist_flag::before {
    content: "\f1f6";
    position: absolute;
    font-size: 14px;
    color: #fff;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


/** Image */
.search_page #search_result_container .search_result_row img {
    width: 100%;
    height: auto;
    max-height: unset;
    border-radius: 8px;
}


/** Content */
.search_page #search_result_container .search_result_row .responsive_search_name_combined {
    grid-template-rows: auto 1fr;
    grid-template-columns: 0;
    grid-template-areas:
        "title title title platforms"
        "reviews release price price";
    justify-content: unset;
}

/*^ Title */
.search_page #search_result_container .search_result_row .search_name {
    color: #fff;
}

/*^ Platforms */
.search_page #search_result_container .search_result_row .search_platforms {
    justify-content: flex-end;
}

.search_page #search_result_container .search_result_row .search_platforms span {
    opacity: 0.5;
}

/*^ Reviews */
.search_page #search_result_container .search_result_row .search_reviewscore {
    align-self: start;
    width: 16px;
    height: 16px;
    margin: 6px 0 0;
}

/*^ Release Date */
.search_page #search_result_container .search_result_row .search_released {
    justify-self: unset;
    align-self: start;
    margin: 6px 0 0 20px;
    font-weight: 400;
    line-height: 16px;
    color: #a9a9a9;
}

/*^ Price */
.search_page #search_result_container .search_result_row .search_price_discount_combined {
    align-self: end;
}



/*
& Sidebar
*/
.search_page #additional_search_options {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 0 0 0 16px;
}


.search_page #additional_search_options .search_collapse_block {
    margin: 0;
}



/*
! Header
*/
.search_page #additional_search_options .block_header {
    position: relative;
    padding: 12px;
    font-weight: 500;
    border-radius: 8px 8px 0 0 !important;
    color: #fff;
    background-color: rgb(var(--st-color-2));
}
.search_page #additional_search_options .block_header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: calc(100% - 12px - 12px);
    height: 4px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-3));
    transform: translateX(-50%);
}

.search_page #additional_search_options .collapsed .block_header {
    border-radius: 8px !important;
}
.search_page #additional_search_options .collapsed .block_header::after {
    display: none;
}



/*
! Content
*/
.search_page #additional_search_options .block_content {
    padding: 0 12px 12px;
    border: unset;
    border-radius: 0 0 8px 8px;
    background-color: rgb(var(--st-color-2));
}