/* Logo */
.NZMJ6g2iVnFsOOp-lDmIP:has(img.HNbe3eZf6H7dtJ042x1vM[src*="/customimages/"]) ._3NBxSLAZLbbbnul8KfDFjw._2dzwXkCVAuZGFC-qKgo8XB,
._3mZ2rKd2RECK4q4ufmsDYX:has(img._24_AuLm54JVe1Zc0AApCDR[src*="/customimages/"]) ._1R9r2OBCxAmtuUVrgBEUBw:has(img[src*="/assets/"]) {
    display: none;
}

.QlR9EFwTdUNm_J5vx54_Z:has(img.HNbe3eZf6H7dtJ042x1vM[src*="/customimages/"]) {
    background-color: #ccc1a1;
}

.NZMJ6g2iVnFsOOp-lDmIP img.HNbe3eZf6H7dtJ042x1vM[src*="/customimages/"] {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: auto;
}