/* Sidebar */
._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
    float: left;
    margin-right: 16px;
    margin-left: 0 !important;
}

/* Main */
._3yTl3RiWfo-Itg-xp967wP {
    max-width: unset !important;
}