.NZMJ6g2iVnFsOOp-lDmIP {
    overflow: hidden !important;
    width: 100%;
    height: auto !important;
    min-height: 150px;
    max-height: none !important;
    margin-bottom: 12px;
}
._1IX7FPSY9Jb82KhBVBSkZa {
    width: 100%;
    height: auto !important;
    min-height: 150px;
    max-height: none !important;
    transform: none !important;
}