._2bl0iQ9xigbq4Zd1NI6NZl {
    background-color: rgb(var(--color-2)) !important;
}
._2bl0iQ9xigbq4Zd1NI6NZl::before {
    background-color: rgb(var(--accent-1)) !important;
    transform: translateX(-40px);
}
.yLrDAetGoWx0GYqA6ShfS ._2bl0iQ9xigbq4Zd1NI6NZl::before {
    transform: translateX(0px) !important;
}

._1PQppcgkuXQAiFPar9AGi- {
    width: 16px;
    height: 16px;
    margin: 3px;
    background: black;
    transform: translateX(0px);
}