.DialogRoundCheckboxField {
    width: 16px;
    height: 16px;
}
._7EGqd8bdiXJBd2fj5Hh8r ._2sQtvR60AbFF5UzDwY9hit {
    width: 16px;
    height: 16px;
    margin: 0;
    outline: 2px solid rgb(var(--st-color-5));
    background-color: rgb(var(--st-color-3));
}


.DialogRoundCheckboxField .DialogRoundCheckboxField_Control {
    outline: 2px solid rgb(var(--st-color-5));
    background-color: rgb(var(--st-color-3));
}
.DialogRoundCheckboxField:hover .DialogRoundCheckboxField_Control:not(.Active) {
    outline: 3px solid rgb(var(--st-color-5));
}
._7EGqd8bdiXJBd2fj5Hh8r ._2sQtvR60AbFF5UzDwY9hit:not(._1gKI37LOWj1Df3QSnxvKyF):hover {
    outline: 3px solid rgb(var(--st-color-5));
}

.DialogRoundCheckboxField .DialogRoundCheckboxField_Control.Active {
    outline-color: rgb(var(--st-accent-1));
}


.DialogRoundCheckboxField .DialogRoundCheckboxField_OuterCircle {
    background: unset !important;
    box-shadow: none;
}


.DialogRoundCheckboxField .DialogRoundCheckboxField_InnerCircle {
    width: 10px;
    height: 10px;
    background: unset;
    box-shadow: none !important;
}
.DialogRoundCheckboxField:hover .DialogRoundCheckboxField_InnerCircle {
    width: 8px;
    height: 8px;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_InnerCircle {
    background-color: #fff;
}
._7EGqd8bdiXJBd2fj5Hh8r ._2sQtvR60AbFF5UzDwY9hit._1gKI37LOWj1Df3QSnxvKyF {
    outline-color: rgb(var(--st-accent-1));
    border: 3px solid rgb(var(--st-color-5));
    background-color: #fff;
}
._7EGqd8bdiXJBd2fj5Hh8r ._2sQtvR60AbFF5UzDwY9hit._1gKI37LOWj1Df3QSnxvKyF:hover {
    border: 4px solid rgb(var(--st-color-5));
}