._1udlGGE4F5pggcpxovorUd {
    align-items: center;
}


._1udlGGE4F5pggcpxovorUd ._2_vG6TwMW2XtyLlTEaODH9 {
    --left-track-color: rgb(var(--st-accent-1));
    height: 4px;
    background-color: rgb(var(--st-color-3));
}


._1udlGGE4F5pggcpxovorUd ._8xNY6EWVZsDfOfUqDrus- {
    --slider-handle-width: 6px;
    display: flex;
    align-items: center;
}

._1udlGGE4F5pggcpxovorUd ._11PBfip2UlKlY3vWSz8PA4 {
    height: 16px;
    width: 6px;
    border-radius: 8px;
    box-shadow: none;
}
._1udlGGE4F5pggcpxovorUd:hover ._11PBfip2UlKlY3vWSz8PA4 {
    height: 14px;
    width: 6px;
    border-radius: 8px;
    box-shadow: none;
}