.addon-backdrop {
    opacity: .30;
}


.addon-details-segment {
    padding: 15px;
    border-radius: 8px;
    background-color: #1e1e1e !important;
}

.btn {
    border-radius: 8px;
}


#addon-actions .btn-container {
    flex-direction: unset !important;
}
#addon-actions .btn-container .btn-primary {
    width: 100%;
}
#addon-actions .btn-container .btn-secondary .btn-icon {
    margin-right: 0;
}
#addon-actions .btn-container .btn-secondary span {
    display: none;
}

.addon-author-container {
    border: none !important;
    border-radius: 8px;
    background-color: #111111;
}
.addon-author-container:hover {
    background-color: #141414;
}
.addon-author-container img {
    height: 48px;
    width: 48px;
    border-radius: 100%;
}
.addon-author-container h5 {
    font-size: 16px;
    font-weight: 700;
    text-decoration-color: #878cff;
    color: transparent !important;
    background: linear-gradient(90deg,#878cff,#666cff 34%,#878cff 67%,#666cff);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    animation: pulse 2s linear infinite;
}
@keyframes pulse {
    0% {
      background-position: 100%;
    }
    to {
      background-position:0;
    }
}

#addon-server img {
    border-radius: 16px;
}
#addon-server .btn {
    height: 40px;
    margin: auto 0;
    margin-top: 0;
    background: #248046;
}
#addon-server .btn:hover {
    background-color: #1a6334;
}
#addon-server {
    display: flex;
    justify-content: space-between;
}

.addon-tag {
    margin: auto 0;
    padding: 2px 12px;
    border-radius: 80px !important;
    background-color: #111111 !important;
}


code {
    background-color: #111111;
}