._1OOQPJx0nCNP9ME9toCmV7 {
    margin-right: 6px;
    border-radius: 8px;
    background: none;
    background-color: rgb(var(--color-1));
}

._3RkGkNRNheAkoRA3migph5 {
    display: none;
}

._3CGHgMXRIoyrljmStDoKuf {
    padding: 6px;
}

._3CGHgMXRIoyrljmStDoKuf:has(._2yhOCNV9s2fKohW8wqWRTY.online) ._28AhGOLtOo3TwshpQm2-wk {
    border: 2px solid #4cb4ff;
}
._3CGHgMXRIoyrljmStDoKuf:has(._2yhOCNV9s2fKohW8wqWRTY.offline) ._28AhGOLtOo3TwshpQm2-wk {
    border: 2px solid #67707b;
}
._3CGHgMXRIoyrljmStDoKuf:has(._2yhOCNV9s2fKohW8wqWRTY.awayOrSnooze) ._28AhGOLtOo3TwshpQm2-wk {
    border: 2px dashed #4cb4ff;
}
._2yhOCNV9s2fKohW8wqWRTY.online,
._2yhOCNV9s2fKohW8wqWRTY.offline {
    display: none;
}

._1MZizkvvIJDyrCZFeiSjm8 {
    width: fit-content;
}