@import url("./src/css/regular.css");
@import url("./src/css/webkit/agecheck.css");
@import url("./src/css/webkit/home.css");
@import url("./src/css/webkit/wishlist.css");

/*
&
&
& Base
&
&
*/

body.v6,
body.v6.game_bg,
body.v6 .game_page_background.game,
.home_cluster_ctn {
    background: transparent !important;
    background-color: transparent !important;
}
body.v6::before,
body.v6.game_bg::before,
body.v6 .game_page_background::before {
    content: "";
    z-index: -1;
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
    background-color: rgb(var(--color-1));
}

body.v6::-webkit-scrollbar {
    background-color: rgb(var(--color-1));
    border-radius: 0 8px 8px 0;
}