/** Collection pills */
body .NZMJ6g2iVnFsOOp-lDmIP ._2b6WkTnmJxMuX1biL7aS3C {
    opacity: 0;
}

body .NZMJ6g2iVnFsOOp-lDmIP:hover ._2b6WkTnmJxMuX1biL7aS3C {
    opacity: 1;
}


/** HLTB for Steam Plugin */
body .NZMJ6g2iVnFsOOp-lDmIP #hltb-for-millennium {
    opacity: 0;
}

body .NZMJ6g2iVnFsOOp-lDmIP:hover #hltb-for-millennium {
    opacity: 1;
}