.C9tvuqqEXGcrkcAtHrQ_R {
    background: rgb(var(--background));
}
.HijmccPB1BKyhOwhX1EVl {
    border-radius: 8px;
    background-color: rgb(var(--color-2));
}
.HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q, .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:hover {
    background: rgb(var(--accent-1));
}
.DialogSlider_Value {
    background: rgb(var(--accent-1));
}
.DialogSlider_Grabber {
    background: rgb(var(--accent-2));
}