/* Game Overview */
.C9tvuqqEXGcrkcAtHrQ_R {
    background: rgb(var(--background));
}
._27m9Qbg4ShilOgwvYZWV8l {
    background: rgb(var(--background));
}
._27m9Qbg4ShilOgwvYZWV8l ._1vG-vFfwpDeNStVbyo1Qy6.P46KVvNDqOUONCIHBwKgU {
    background-color: rgb(var(--color-2));
    border-radius: 8px;
}
._27m9Qbg4ShilOgwvYZWV8l ._1vG-vFfwpDeNStVbyo1Qy6 ._2wBK7MqJSrj6QCxf3357yL {
    background-color: rgb(var(--color-2));
}
._27m9Qbg4ShilOgwvYZWV8l ._1vG-vFfwpDeNStVbyo1Qy6 ._2OwqXw1nhBL430bsYTeEr- {
    background-color: rgb(var(--color-2));
}
._27m9Qbg4ShilOgwvYZWV8l ._1vG-vFfwpDeNStVbyo1Qy6 ._3eNE5TKtDTnfNBAsCqfcP0 {
    background-color: rgb(var(--color-2));
}
