.C9tvuqqEXGcrkcAtHrQ_R {
    background: rgb(var(--background));
}

._1f9_BgoyE1cjqyeKD8dh9u .YzIcpcz4oFx-nndxro5jE {
    background: rgb(var(--color-2));
    border: 0px solid;
    border-image-source: linear-gradient(to right, rgba(71, 78, 86, 0.5) 20%, rgba(71, 78, 86, 0.2) 50%);
}
._1f9_BgoyE1cjqyeKD8dh9u .YzIcpcz4oFx-nndxro5jE .hXJt8CFzzitOG3moJEGg- {
    color: rgb(var(--accent-1));
}
._2T45kYJmyvQWyxytQeohuY._3JYigpIF46lZDATkhxHZmZ {
    background-color: rgb(var(--accent-1));
}
._2OsQkIMNf9Cnl4xfBXMApr {
    background-color: rgb(var(--background));
}
.uCBCZOATxD3vzPCGUgDEp {
    background-color: rgb(var(--color-2));
    border-radius: 8px;
}
._1f9_BgoyE1cjqyeKD8dh9u .YzIcpcz4oFx-nndxro5jE .hXJt8CFzzitOG3moJEGg- {
    color: rgb(var(--accent-1));
}
._36KTbApKz0VLY9Q6lGt4aH {
    background-color: rgb(var(--background));
}