.titleBarContainer.ChatTabs {
    padding: 0 !important;
    border: none;
    background-color: unset;
    box-shadow: none;
}
.ChatTabs .title-area {
    height: 32px;
    min-height: unset;
}


/*
! Tab bar
*/
.chatTabSetContainer {
    justify-content: space-between;
}
.chatTabSetContainer.inclient {
    padding: 0;
}

/* Tab */
.HorizontalMiniSliderScroll {
    overflow-y: hidden;
}

._3f1rJf0BU79ub9YR2KihaT {
    gap: 6px;
    border: none;
}

._2XZq-_f6npaQdAgeRzKIkz {
    border-radius: 8px;
    background-color: rgb(var(--color-4));
}
._2XZq-_f6npaQdAgeRzKIkz:hover {
    cursor: pointer;
}
._2XZq-_f6npaQdAgeRzKIkz.Yd-DsWkYiFiYwpci--Yk_ {
    background-color: rgb(var(--color-2));
}
._2XZq-_f6npaQdAgeRzKIkz::before,
._2XZq-_f6npaQdAgeRzKIkz::after {
    display: none;
}

/* More Tabs */
.chatTabSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-left: 12px;
    border-radius: 8px;
    background: rgb(var(--color-4));
    box-shadow: none;
}
.chatTabSelector:hover {
    background: rgb(var(--color-2));
}
.chatTabSelector .SVGIcon_DownArrowContextMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    margin: 0;
}
.chatTabSelector .SVGIcon_DownArrowContextMenu polygon {
    transform: scale(1.28);
}


/*
! Chat
*/
.chatDialogs {
    margin-top: 6px;
    background: unset;
}

.chatWindow {
    border-radius: 8px;
    background: rgb(var(--color-1));
}

.chatWindow .chatHeader {
    display: none;
}


/*
! Input
*/
/* soon */