._11cYvnWDwOeGdlUpfGNlYt ._3CJctA7pLVdwHzNF5JmORE._1urF0O1V4DZOkjI28mDvRK {
    padding: 16px 0 16px 24px;
}


._3YO5BpDmZERh_G8kaWbaSJ.Panel {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
}

.B-vCdL38RiJlhfSRgZv78 {
    display: none;
}

.aqYQCF7Ny9x3EKcjCOTRY {
    order: 2;
    margin-bottom: 0 !important;
}

._3_xMyCJAh_Dv99KgZ54P3j {
    position: unset !important;
    margin: 0 0 6px !important;
    padding: 0 !important;
    background-color: transparent !important;
}