/*
& Remove after experimental
*/
/* bookmark, store, game, header */
.game_bg.application .queue_overflow_ctn [id*="add_to_wishlist_area"] .btn_medium span::before {
    content: "\f1f6" !important;
    font-size: 22px;
    color: rgb(var(--blue));
    font-family: FluentSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.game_bg.application .queue_overflow_ctn [id*="add_to_wishlist_area"] .btn_medium span:has(img)::before {
    content: "\f1f6" !important;
    font-family: FluentSystemIcons-Filled !important;
}

/* prohibitedmultiple, store, game, header */
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium span::before {
    content: "\e9da" !important;
    font-size: 22px;
    color: #8e8e8e;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium span:hover::before {
    color: #fff;
}


/* arrow right, store, game, header */
.game_bg.application .queue_overflow_ctn .next_in_queue_content >span::before {
    content: "\f182" !important;
    font-size: 22px;
    color: rgb(var(--yellow));
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* follow, store, game, header */
.game_bg.application .queue_overflow_ctn .queue_btn_follow .btn_medium::before {
    content: "\f115" !important;
    font-size: 22px;
    color: rgb(var(--blue));
    font-family: FluentSystemIcons-Regular !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.game_bg.application .queue_overflow_ctn .queue_btn_follow .btn_medium.queue_btn_active::before {
    font-family: FluentSystemIcons-Filled !important;
}
.game_bg.application .queue_overflow_ctn .queue_btn_follow .btn_medium.queue_btn_active:hover::before {
    content: "\f119" !important;
    color: rgb(var(--red));
}




body.v6.game_bg.application .page_content_ctn,
body.v6.game_bg.application .page_content {
    width: 1300px;
    margin: 0 auto;
}


/*
& Haeder
*/

/*
! Title Area
*/
.game_bg.application .page_title_area .apphub_HeaderStandardTop {
    min-height: unset;
    margin: 0 0 16px;
}


/* Game Path */
.game_bg.application .page_title_area .breadcrumbs {
    display: none;
}

/* Game Title */
.game_bg.application .page_title_area .apphub_HomeHeaderContent {
    max-width: unset;
}

.game_bg.application .page_title_area .apphub_AppName {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}


/* Community Hub */
.game_bg.application .page_title_area .apphub_OtherSiteInfo {
    display: none;
}


/* Sale Event Banner */
.game_bg.application .saleEventBannerLink {
    display: none;
}


/*
! Wishlist/Follow Area
*/

.game_bg.application .queue_overflow_ctn {
    position: absolute;
    top: -48px;
    right: 0;
}

.game_bg.application .queue_overflow_ctn .queue_ctn {
    width: unset;
    margin: 0;
    background: unset;
}

.game_bg.application .queue_overflow_ctn .queue_actions_ctn {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    padding: 0;
}


/* Buttons */
.game_bg.application .queue_overflow_ctn .btn_medium {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #fff !important;
    background: unset;
    background-color: rgb(var(--blue), .2);
}
.game_bg.application .queue_overflow_ctn .btn_medium:hover {
    background: unset !important;
    background-color: rgb(var(--blue), .4) !important;
}

.game_bg.application .queue_overflow_ctn .btn_medium span {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
}
.game_bg.application .queue_overflow_ctn .btn_medium span img {
    display: none;
}

/* Wishlist */
.game_bg.application .queue_overflow_ctn #wishlistDropDown {
    display: none;
}

/* Follow */
.game_bg.application .queue_overflow_ctn .queue_btn_follow .btn_medium {
    padding: 0 12px;
}
.game_bg.application .queue_overflow_ctn .queue_btn_follow span {
    display: none;
}

/* Ignore */
.game_bg.application .queue_overflow_ctn .queue_btn_ignore {
    display: none;
}
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium {
    display: flex;
    height: 32px;
    background-color: rgb(var(--color-2));
}
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium:hover {
    background-color: rgb(var(--color-2)) !important;
}
.game_bg.application .queue_overflow_ctn #queue_btn_ignore_menu .btn_medium span {
    padding: 0 6px;
}

/* Add a note Augmented Steam plugin */
.game_bg.application .queue_overflow_ctn #esi-user-note-button {
    display: none;
}

/* View Your Queue */
.game_bg.application .queue_overflow_ctn .btnv6_blue_hoverfade.right {
    display: none;
}

/* Queue */
.game_bg.application .queue_overflow_ctn .next_in_queue_area {
    order: 1;
}

.game_bg.application .queue_overflow_ctn .queue_controls_description,
.game_bg.application .queue_overflow_ctn .queue_reason_description {
    display: none;
}

.game_bg.application .queue_overflow_ctn .btn_next_in_queue {
    width: unset;
    height: unset;
    margin: 0;
    background: unset;
}

.game_bg.application .queue_overflow_ctn .next_in_queue_content {
    padding: 0 12px;
    border-radius: 8px;
    background-color: rgb(var(--yellow), .4);
}
.game_bg.application .queue_overflow_ctn .next_in_queue_content:hover {
    background-color: rgb(var(--yellow), .6);
}
.game_bg.application .queue_overflow_ctn .next_in_queue_content span {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 0px;
}
.game_bg.application .queue_overflow_ctn .next_in_queue_content .queue_sub_text {
    display: none;
}



/* Clear *what ever* */
.queue_actions_ctn div[style*="clear"] {
    display: none;
}



/*
& Game Media
*/
.game_bg.application .block.game_media_and_summary_ctn {
    position: relative;
}

.game_bg.application .game_background_glow {
    margin: 0;
    padding: 0;
    background: unset;
}
.game_bg.application .game_background_glow #game_highlights {
    display: grid;
    grid-auto-columns: 1fr auto;
    grid-template-areas:
        "media details";
    gap: 16px;
    background: unset;
}
.game_bg.application .game_background_glow #game_highlights:has(.broadcast_embed_top_ctn_trgt) {
    grid-template-areas:
        "broadcast broadcast"
        "media details";
}

div.leftcol:has(.highlight_ctn) {
    grid-area: media;
    width: 100%;
}

#game_highlights .highlight_ctn {
    width: 100% !important;
}
.highlight_ctn .highlight_overflow {
    /*display: flex;*/
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--color-2));
}


/* Clear *what ever* */
#game_highlights div[style*="clear"] {
    display: none;
}


/*
! Brodcast
*/
#game_highlights div[data-featuretarget="broadcast-embed"] {
    grid-area: broadcast;
}


/*
! Player Area
*/
.highlight_ctn #highlight_player_area {
    width: 100% !important;
    border-radius: 8px;
}



/* Title */
#highlight_player_area .html5_video_titlebar_ctn {
    margin: 6px;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(var(--color-3));
}



/* Expand button */
#highlight_player_area .es_slider_toggle:has(.es_slider_expand) {
    display: none;
}



/* Controls */
#highlight_player_area .html5_video_overlay {
    overflow: hidden;
    width: -webkit-fill-available;
    height: unset;
    margin: 6px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--background), .9);
}
#highlight_player_area .html5_video_overlay[style="bottom: -35px;"] {
    bottom: -70px !important;
}

#highlight_player_area .html5_video_overlay .control_container {
    height: unset;
    margin: 0;
    background-color: unset;
}


/* Play/Pause button */
#highlight_player_area .html5_video_overlay .play_button {
    background-image: unset !important;
}

#highlight_player_area .html5_video_overlay .play_button::before {
    font-size: 18px;
    color: #8e8e8e;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
#highlight_player_area .html5_video_overlay .play_button:hover::before {
    color: #fff;
}

#highlight_player_area .html5_video_overlay .play_button.pause::before {
    content: "\f5ac";
}

#highlight_player_area .html5_video_overlay .play_button.play::before {
    content: "\f610";
}


/* Progressbar */
#highlight_player_area .html5_video_overlay .progress_bar_wrapper {
    position: unset;
    height: 8px;
    margin: 6px 0 0;
    background-color: unset;
}

#highlight_player_area .html5_video_overlay .progress_bar_container {
    position: unset;
    height: -webkit-fill-available;
    border-radius: 8px;
    background-color: rgba(var(--color-2), 0.9);
}

#highlight_player_area .html5_video_overlay .progress_bar_background {
    position: unset;
    background-color: unset;
}
#highlight_player_area .html5_video_overlay .progress_bar {
    position: unset;
    height: -webkit-fill-available;
    border-radius: 8px;
    background-color: rgb(var(--blue));
}


/*
! Game Videos & Images
*/
/** Media */
.game_bg.application #game_highlights #highlight_strip {
    overflow: hidden;
    height: 65px;
    margin: 12px 0 6px;
}
.game_bg.application #game_highlights #highlight_strip::after {
    content: "";
    z-index: 55;
    position: absolute;
    right: 0;
    display: flex;
    width: 20px;
    height: 100%;
    background: linear-gradient(90deg, rgba(30, 30, 30, 0) 10%, rgb(30, 30, 30) 100%);
    pointer-events: none;
}

.game_bg.application #game_highlights #highlight_strip:has(#highlight_strip_scroll[style*="left"]:not([style*="left: 0"]))::before {
    content: "";
    z-index: 55;
    position: absolute;
    left: 0;
    display: flex;
    width: 20px;
    height: 100%;
    background: linear-gradient(270deg, rgba(30, 30, 30, 0) 10%, rgb(30, 30, 30) 100%);
    pointer-events: none;
}

/*^ Images */
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item {
    overflow: hidden;
    aspect-ratio: 16 / 9;
    width: auto;
    margin: 0 4px 0 0;
    border-radius: 8px;
}
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item:nth-last-child(1) {
    margin-right: 0;
}
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item.focus {
    box-sizing: border-box;
}


.game_bg.application #game_highlights #highlight_strip .highlight_strip_item img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

/*^ Video play icon */
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item .highlight_movie_marker {
    display: none;
}
.game_bg.application #game_highlights #highlight_strip .highlight_strip_item:has(.highlight_movie_marker)::before {
    content: "\f612" !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*^ Slider Left&Right Buttons */
.game_bg.application #game_highlights .slider_ctn .slider_left,
.game_bg.application #game_highlights .slider_ctn .slider_right {
    display: none;
}

/*^ Slider Scollbar */
.game_bg.application #game_highlights .slider_ctn:has(.slider[style*="display: none"]) {
    display: none;
}

.game_bg.application #game_highlights .slider_ctn .slider {
    left: 0;
    right: 0;
    padding: 6px;
    border-radius: 100px;
    background-color: rgb(var(--color-1));
}

.game_bg.application #game_highlights .slider_ctn .handle {
    width: 120px;
    height: -webkit-fill-available;
    margin: 6px;
    border-radius: 100px;
    background-color: rgb(var(--accent-1));
}
.game_bg.application #game_highlights .slider_ctn .handle:hover {
    margin: 5px;
    padding-right: 3px;
    background: unset;
    background-color: rgb(var(--accent-2));
}



/*
& Details 
*/
.game_bg.application #game_highlights .rightcol {
    grid-area: details;
    width: min-content;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--color-2));
}


.game_bg.application #game_highlights .rightcol .glance_ctn {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/*
! Banner
*/
.game_bg.application #game_highlights .rightcol .game_header_image_ctn {
    margin-bottom: 6px;
}
.game_bg.application #game_highlights .rightcol .game_header_image_full {
    aspect-ratio: 92 / 43;
    width: 360px;
    height: auto;
    border-radius: 8px;
}


/*
! Description
*/
.game_bg.application #game_highlights .rightcol .game_description_snippet {
    padding: 0;
    line-height: unset;
}


/*
! Divider
*/
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin: 12px 0;
    border-radius: 8px;
    background-color: rgb(var(--color-1));
}


/*
! Infos
*/


/* Devs & Publisher */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .dev_row .summary {
    white-space: normal;
}



/*
! Tags
*/
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right {
    margin-top: auto;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn {
    margin: 0;
}


/* Text */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .responsive_block_header {
    display: flex;
    line-height: 19px;
    color: #556772;
}
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .responsive_block_header::after {
    content: ":";
    line-height: 19px;
    color: #556772;
}

/* Lable */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .glance_tags_label {
    display: none;
}


/* Tags */
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .popular_tags {
    display: flex;
    gap: 6px;
    height: unset;
    margin-top: 6px;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .popular_tags .app_tag {
    height: unset;
    margin: 0;
    padding: 6px 8px;
    line-height: unset;
    font-weight: 500;
    border-radius: 8px;
    color: #8f98a0;
    background-color: rgb(var(--blue), .1);
}
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .popular_tags .app_tag:hover {
    background: unset;
    background-color: rgb(var(--blue), .3);
}


/*
& Details on Top

.game_bg.application .game_background_glow #game_highlights {
    flex-direction: column;
}


.game_bg.application #game_highlights .rightcol {
    box-sizing: border-box;
    width: 100%;
}


/*
! Grid

.game_bg.application #game_highlights .rightcol .glance_ctn {
    display: grid;
    grid-template-areas:
        "image disc"
        "image infos"
        "image tags";
    grid-template-rows: auto 1fr;
    height: calc(100% - 3px);
}


/*
!Banner

.game_bg.application #game_highlights .rightcol .game_header_image_ctn {
    grid-area: image;
    height: calc(100% - 3px);
    margin: 0 12px 0 0;
}


/*
! Description

.game_bg.application #game_highlights .rightcol .game_description_snippet {
    grid-area: disc;
    height: fit-content;
    padding: 0;
    line-height: unset;
    -webkit-line-clamp: 2;
}



/*
! Divider

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left::before {
    display: none;
}


/*
! Infos

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-areas:
        "reviews release steamdb support"
        "devs devs devs devs"
        "publisher publisher publisher publisher";
}


/* Reviews
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .user_reviews {
    grid-area: reviews;
}


/* Release
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .release_date {
    grid-area: release;
    flex-direction: column;
}


/* SteamDB
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .steamdb_last_update {
    grid-area: steamdb !important;
    flex-direction: column;
    margin-top: 0;
    padding-top: 9px;
}


/* Support
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .release_date[style="padding-bottom: 0;"] {
    grid-area: support;
    flex-direction: column;
}


/* Devs
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .dev_row:has(#developers_list) {
    grid-area: devs;
}


/* Publisher
.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_left .dev_row {
    grid-area: publisher;
}


/*
! Tags

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right {
    grid-template-areas: "lable divs";
    grid-area: tags;
    display: grid;
    grid-template-columns: max-content 97%;
    gap: 6px;
    align-items: center;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .responsive_block_header {
    grid-area: lable;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn {
    grid-area: divs;
}

.game_bg.application #game_highlights .rightcol .glance_ctn_responsive_right .popular_tags_ctn .popular_tags {
    margin-top: 0;
}



/*
& Game Review
*/




/*
& Game Purchase / Infos etc.
*/