/*
& Header
*/
body .market_header_bg {
    margin-bottom: 16px;
    background-color: unset;
}

.market_header_bg #BG_top {
    width: 100%;
    max-width: var(--st-store-max-width);
    height: unset;
    background-color: unset;
}

.market_header_bg .market_header_logo {
    width: 100%;
    max-width: var(--st-store-max-width);
    height: unset;
    background-image: unset;
}


/*
! Text
*/
.market_header_bg .market_header_text {
    width: fit-content;
    margin-bottom: 16px;
    padding: 32px 0 0;
}


/** Title */
.market_header_bg .market_header_text .market_title_text {
    font-size: 28px;
    line-height: 28px;
    font-weight: 800;
    text-transform: capitalize;
}


/** Subtitle */
.market_header_bg .market_header_text .market_subtitle_text {
    font-size: 12px;
    font-weight: 700;
    color: #a9a9a9;
}


/*
! User Info
*/
.market_header_bg .user_info {
    display: none;
}



/*
& Tabs
*/
#myMarketTabs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: unset !important;
    margin: 0 0 12px !important;
    padding: 6px 12px !important;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}

#myMarketTabs .market_tab_well_tabs {
    position: unset;
    display: flex;
    gap: 8px;
    font-size: 0px;
    border: unset;
    background: unset;
}


/*
! Button
*/
#myMarketTabs .market_tab_well_tab .market_tab_well_tab_contents {
    display: flex;
    gap: 4px;
    align-items: center;
    min-width: unset;
    height: 32px;
    padding: 0;
    font-weight: 400;
    line-height: unset;
    border-radius: 8px;
    color: #fff;
    background: unset;
}
#myMarketTabs .market_tab_well_tab.market_tab_well_tab_active .market_tab_well_tab_contents {
    font-weight: 600;
    color: rgb(var(--st-accent-1));
}


/*
! Sell an Item
*/
#myMarketTabs .pick_and_sell_button {
    position: unset;
}


/*
! Empty
*/
#myMarketTabs #myMarketTabs_empty {
    display: none;
}


/*
& Listings
*/
#myListings #tabContentsMyListings {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/*
! List
*/
#myListings .my_listing_section {
    order: 2;
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}

#myListings .my_listing_section:has(#my_market_listingstoconfirm_number) {
    order: 1;
    border: 3px solid rgb(var(--st-yellow));
    background-color: rgb(var( --st-yellow), .2);
}