._2Dd4T78PcCTUVgOtDGFY5j ._2q70uOe6xM3-c5XIVfBLe6 {
    padding: 16px;
    border: none;
    border-radius: 0;
}



/*
& Header
*/
._2Dd4T78PcCTUVgOtDGFY5j ._2rqTSCLSSEycEiuCS_OkpX {
    height: unset;
}


/*
! Title
*/
._2Dd4T78PcCTUVgOtDGFY5j ._2rqTSCLSSEycEiuCS_OkpX ._2oJt3qYLAqr6xMjnpmBFLN {
    font-size: 22px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: unset;
    color: #fff;
}


/*
! Icon
*/
._2Dd4T78PcCTUVgOtDGFY5j ._2rqTSCLSSEycEiuCS_OkpX ._12pDikfkuNH_o3MHKU1skz {
    width: 22px;
    height: 22px;
    margin: 0 0 0 6px;
}


/*
! Game count
*/
._2Dd4T78PcCTUVgOtDGFY5j ._2rqTSCLSSEycEiuCS_OkpX ._3Xgxj6vaGiKSEal2iaSrYl {
    color: #8e8e8e;
}


/*
! Line
*/
._2Dd4T78PcCTUVgOtDGFY5j ._2rqTSCLSSEycEiuCS_OkpX ._1grg9gmk1v5ri4iOuDymaz {
    display: none;
}


/*
! Dynamic Collection
*/
._2Dd4T78PcCTUVgOtDGFY5j ._2rqTSCLSSEycEiuCS_OkpX ._8JUfQypf4Uxt2i_hxBk_t {
    padding: 0;
}



/*
& List
*/
._2Dd4T78PcCTUVgOtDGFY5j .rz1mrOnj9WN6UErES7qsq {
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}


/*
! Sort
*/
._2Dd4T78PcCTUVgOtDGFY5j .rz1mrOnj9WN6UErES7qsq .BpxCzVzPf5Y8EFlz5bZrP {
    padding: 0;
}


/*
! Line
*/
._2Dd4T78PcCTUVgOtDGFY5j .rz1mrOnj9WN6UErES7qsq ._3bWISeqP3H2j6YJnFwVEwu {
    display: none;
}