._1bq4x9pa4-9RLY-dXWUZTp {
    background: unset;
    background-color: rgb(var(--color-1));
}



/*
& Header
*/
._373v1eWNyaPKhgnea9FZSt {
    margin: 12px;
}


._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg {
    border-radius: 8px;
    background-color: rgb(var(--color-2));
}



/*
! Banner
*/
._3KDkLoCR8OM8xfdQysKn9t._1ashwbbBZrppDqaals3644 {
    overflow: hidden;
    height: -webkit-fill-available;
    margin: 12px 0 12px 12px;
    border-radius: 8px;
}


._3mZ2rKd2RECK4q4ufmsDYX ._2NqL3nV35eJFAu56_Yu-WM {
    transform: scale(1);
}


._3mZ2rKd2RECK4q4ufmsDYX ._3WauYi7bNDSGIogMLPVYES .edQzwM57P-T5K3eDGkyvZ {
    background: linear-gradient(to right, transparent 15%, rgb(var(--color-2)) 90%);
}


/* Download Speed */
._1BxZDLT8KveuJzn-1q4NTP .OS07NfYlp6v-Eh5oQ7dwn {
    color: rgb(var(--accent-1));
}


._3KDkLoCR8OM8xfdQysKn9t ._30N3oYMkrAbxU-Vxc_1l6C {
    opacity: 0;
}


.Rgy-7t7i1Yv97qhWQae7K {
    display: none;
    color: #b8bcbf;
}
.Rgy-7t7i1Yv97qhWQae7K:has(.-OgRzXqfwOvAWFZS3Rk_N.-PT6mGyvgBJXK-uaK2cRV) {
    display: flex;
}



/*
! Stats
*/
._20JlDJD9-uoCjNLGp_8mY6 {
    padding: 12px;
}



.Ayu--dDVVaKmP2gNYPAQ0 ._33jqEbo2sBXJZ08w9BkdEM svg {
    color: rgb(var(--accent-1));
}


._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._1SyggnJY6qbRSmbZpkK3-H {
    order: 1;
}


._2sCvZTD6ZTZz3p9_ekH_gI ._1r3ouwFT2-tsTAcnXYZ6NU ._1-Mr1M0nO5UEnqLWSR-uki {
    font-weight: normal;
    color: #fff;
}

._2sCvZTD6ZTZz3p9_ekH_gI ._1r3ouwFT2-tsTAcnXYZ6NU ._1-Mr1M0nO5UEnqLWSR-uki ._3tEPpl-d9-fiCX5AdJiXJL {
    font-weight: bolder;
}



._22WcrscaQSqK56PQKgf5YG .sv3ZHPWbrD7yjwx5Mi3u5 ._3a973VY2X3US_cZqA9ZgNF {
    display: none;
}


._1SyggnJY6qbRSmbZpkK3-H ._1vMU1vG5ZtLihr3mfXUymR {
    background-color: rgb(var(--background));
}
._1VNuYHM6BPBOJspC6zPf5r:hover ._1SyggnJY6qbRSmbZpkK3-H ._1vMU1vG5ZtLihr3mfXUymR {
    background-color: rgb(var(--background));
}

._1SyggnJY6qbRSmbZpkK3-H ._1vMU1vG5ZtLihr3mfXUymR._2mLZnQr2HzWQ1K8D8xouc- div {
    background-color: rgb(var(--accent-1));
}



/*
! Settings icon
*/
.lzk4zNVWG2zPV5Mk_o5GL {
    top: 24px;
    right: 24px;
}

._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC {
    opacity: .5;
    padding: 0 !important;
    background: unset !important;
}
._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:hover {
    opacity: 1;
}




/*
& List
*/
/* Divider */
.SEmVpmXrYVl3OxL1sDFTg {
    display: none;
}
















/*
& List
*/

/* Divider *//*
.SEmVpmXrYVl3OxL1sDFTg {
    display: none;
}



/*
! Installing now
*//*
.IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi {
    border: none;
}

._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg {
    margin: 0 12px;
    padding: 12px 0 12px 12px;
    border-radius: 8px;
    background-color: rgb(var(--accent-2), .15);
}
._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg:hover {
    border-radius: 8px;
    background-color: rgb(var(--accent-2), .3);
}