/* Always show game sidebar */
._1rDh5rXSFZJOqCa4UpnI4z:has(.RGNMWtyj73_-WdhflrmuY[style*="display: none;"]) {
    flex-direction: unset;
}
.RGNMWtyj73_-WdhflrmuY[style*="display: none;"] {
    display: flex !important;
    max-width: min(50%, 100% - 400px);
    min-width: 272px;
}
.RGNMWtyj73_-WdhflrmuY[style*="display: none;"] ._9sPoVBFyE_vE87mnZJ5aB {
    max-width: min(50%, 100% - 400px);
    min-width: calc(100% - 4px - 12px);
}
.RGNMWtyj73_-WdhflrmuY[style*="display: none;"] ._3BFcmjAaMyP6GTPwc0VyWi {
    display: none;
}



._3x1HklzyDs4TEjACrRO2tB {
    background-image: none;
}



/*
! Home and Collections
*/
._2TKEazUUS3TlniZfpc8OOe {
    gap: 6px;
    height: unset;
    margin-bottom: 16px;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(var(--color-2));
    box-shadow: none;
}


/* Home Button */
._3pSPluBgf0NeR1kkCLWMhR {
    height: 42px;
    padding: 6px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    background-color: rgb(var(--color-1)) !important;
    transition: all 0.2s ease-in-out;
}
._3pSPluBgf0NeR1kkCLWMhR:hover {
    background-color: rgb(var(--color-3)) !important;
}

._3pSPluBgf0NeR1kkCLWMhR ._3O48LaKWcabKx07xdrt1TH {
    font-weight: 600;
}

/* Logo in home button */
._3pSPluBgf0NeR1kkCLWMhR ._1ooROmAgkhoBH_o65yl9dJ {
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    background-image: url("../../icons/logo.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    mask-image: none;
    -webkit-mask-image: none;
    transform: rotate(35deg) scale(1.2);
}
._1ooROmAgkhoBH_o65yl9dJ svg {
    display: none;
}


/* Collection button */
._3pSPluBgf0NeR1kkCLWMhR._30KGSfPjPskFlnrSxBfkiK {
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: rgb(var(--color-1));
    transition: all 0.2s ease-in-out;
}
._3pSPluBgf0NeR1kkCLWMhR._30KGSfPjPskFlnrSxBfkiK:hover {
    background-color: rgb(var(--color-3));
}

/* Collection button icon grid */
.nC-pL16iUnIRcaj1UVnwq {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    width: 42px;
    height: auto;
    margin: 4px;
    padding: 4px;
    border: 2px solid rgb(var(--color-2));
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}
.xeuK3OqQYpIbPs1mCIS0k:hover .nC-pL16iUnIRcaj1UVnwq {
    border: 2px solid rgb(var(--color-5));
}
.nC-pL16iUnIRcaj1UVnwq ._2tyaVs9BpqcW068aaOrO56 {
    border-radius: 2px;
    background-color: rgb(var(--color-2)) !important;
    transition: all 0.2s ease-in-out;
}
.xeuK3OqQYpIbPs1mCIS0k:hover .nC-pL16iUnIRcaj1UVnwq ._2tyaVs9BpqcW068aaOrO56 {
    background-color: rgb(var(--color-5)) !important;
}



/*
! Groupe filter
*/
._1ZS_xta5HMXzR8JgxDH6n7 {
    display: block;
    padding: 6px 6px 0;
    border-radius: 8px 8px 0 0;
    background-color: rgb(var(--color-2));
}


/* Dropdown */
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(var(--color-3));
    transition: all 0.2s ease-in-out;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC:hover {
    background-color: rgb(var(--color-1));
}


/* Go up button */
.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    border: none;
    border-radius: 8px;
    background-color: rgb(var(--color-3));
    transition: all 0.2s ease-in-out;
}
.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo:hover {
    background-color: rgb(var(--color-1));
}



/*
! Recent/Ready filter
*/
._1ZS_xta5HMXzR8JgxDH6n7 ._36r2az6roul_Oej7D4BMI6 {
    display: block;
    margin: 6px 0;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU {
    gap: 6px;
    margin-left: 0;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 {
    width: 100%;
    margin: 0;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(var(--color-3));
    transition: all 0.2s ease-in-out;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6:hover {
    background-color: rgb(var(--color-1));
}



/*
! Searchbar
*/
._20QAC4WMXm8qFE8waUT5oo,
._20QAC4WMXm8qFE8waUT5oo._3qwXPrhpZYqVbJxrZDrvjy {
    margin: 0;
    padding: 0 6px 12px;
    border-radius: 0;
    background-color: rgb(var(--color-2));
}
/* Search input */
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS {
    border-radius: 8px 0 0 8px;
    background-color: rgb(var(--color-3));
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
    border: none;
    box-shadow: none;
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:hover {
    background-color: unset;
}


/* Filter */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU {
    border-radius: 0 8px 8px 0;
    background-color: rgb(var(--color-3)) !important;
}
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:hover {
    background-color: rgb(var(--color-1)) !important;
}




/*
! Game list
*/
._1ijTaXJJA5YWl_fW2IxcaT,
._1fbRpYO_BFDlMdFLsQMGVE {
    margin: 0;
    border-radius: 0 0 8px 8px;
    background-color: rgb(var(--color-2));
}


/* Collection header */
._2sYIghGVXJr6tsQVvcryy8 {
    margin: 0 6px;
    border: none;
    border-radius: 8px;
    background: none;
    background-color: rgb(var(--color-1));
    align-items: center;
}

._2sYIghGVXJr6tsQVvcryy8 ._3SFRZYIb9Y2q7YsVtB3YKb,
._2sYIghGVXJr6tsQVvcryy8 ._2mZ8LlvoUiyeEUtIWuTri {
    height: unset;
}

._2sYIghGVXJr6tsQVvcryy8 ._3SFRZYIb9Y2q7YsVtB3YKb {
    margin-top: 1px;
}

._2sYIghGVXJr6tsQVvcryy8 ._29uten9Yy8q-n7woDEOXVF {
    margin-top: -1px;
}


/* Game item */
._2-O4ZG0KrnSrzISHBKctFQ {
    margin: 0 6px;
    border: none;
    border-radius: 8px;
}
._2-O4ZG0KrnSrzISHBKctFQ .ga1hyw11cdBVodrCAidPF ._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    border-radius: 4px !important;
}



/*
! Game list sidebar sizebar
*/
._276E6ijBpjMA2_iTxNhhjc {
    margin: auto 6px;
    width: 4px;
    height: 240px;
    border-radius: 8px;
    background-color: rgb(var(--accent-1));
    transition: all 0.2s ease-in-out;
}
._276E6ijBpjMA2_iTxNhhjc:hover, ._276E6ijBpjMA2_iTxNhhjc:focus, ._276E6ijBpjMA2_iTxNhhjc:active {
    height: 280px;
    background-color: rgb(var(--accent-2)) !important;
}
