/*
&
&
& Game sidebar
&
&
*/

._3x1HklzyDs4TEjACrRO2tB {
    background-image: none;
}


/*
! Home and Collections
*/
._2TKEazUUS3TlniZfpc8OOe {
    gap: 6px;
    height: unset;
    margin-bottom: 16px;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(var(--color-2));
    box-shadow: none;
}

/* Home Button */
._3pSPluBgf0NeR1kkCLWMhR {
    height: 42px;
    padding: 6px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    background-color: rgb(var(--color-1)) !important;
    transition: all 0.2s ease-in-out;
}
._3pSPluBgf0NeR1kkCLWMhR:hover {
    background-color: rgb(var(--color-3)) !important;
}

._3pSPluBgf0NeR1kkCLWMhR ._3O48LaKWcabKx07xdrt1TH {
    font-weight: 600;
}

/* Logo in home button */
._3pSPluBgf0NeR1kkCLWMhR ._1ooROmAgkhoBH_o65yl9dJ {
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    background-image: url("../../icons/logo.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    mask-image: none;
    -webkit-mask-image: none;
    transform: rotate(35deg) scale(1.2);
}
._1ooROmAgkhoBH_o65yl9dJ svg {
    display: none;
}

/* Collection button */
._3pSPluBgf0NeR1kkCLWMhR._30KGSfPjPskFlnrSxBfkiK {
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: rgb(var(--color-1));
    transition: all 0.2s ease-in-out;
}
._3pSPluBgf0NeR1kkCLWMhR._30KGSfPjPskFlnrSxBfkiK:hover {
    background-color: rgb(var(--color-3));
}

/* Collection button icon grid */
.nC-pL16iUnIRcaj1UVnwq {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    width: 42px;
    height: auto;
    margin: 4px;
    padding: 4px;
    border: 2px solid rgb(var(--color-2));
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}
.xeuK3OqQYpIbPs1mCIS0k:hover .nC-pL16iUnIRcaj1UVnwq {
    border: 2px solid rgb(var(--color-5));
}
.nC-pL16iUnIRcaj1UVnwq ._2tyaVs9BpqcW068aaOrO56 {
    border-radius: 2px;
    background-color: rgb(var(--color-2)) !important;
    transition: all 0.2s ease-in-out;
}
.xeuK3OqQYpIbPs1mCIS0k:hover .nC-pL16iUnIRcaj1UVnwq ._2tyaVs9BpqcW068aaOrO56 {
    background-color: rgb(var(--color-5)) !important;
}


/*
! Groupe filter
*/
._1ZS_xta5HMXzR8JgxDH6n7 {
    display: block;
    padding: 6px 6px 0;
    border-radius: 8px 8px 0 0;
    background-color: rgb(var(--color-2));
}

/* Dropdown */
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(var(--color-3));
    transition: all 0.2s ease-in-out;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC:hover {
    background-color: rgb(var(--color-1));
}

/* Go up button */
.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo {
    margin-left: 6px;
    border-radius: 8px;
}
.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo svg {
    border: none;
    background-color: rgb(var(--color-3));
    transition: all 0.2s ease-in-out;
}
.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo:hover svg {
    background-color: rgb(var(--color-1));
}


/*
! Recent/Ready filter
*/
._1ZS_xta5HMXzR8JgxDH6n7 ._36r2az6roul_Oej7D4BMI6 {
    display: block;
    margin: 6px 0;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU {
    gap: 6px;
    margin-left: 0;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 {
    width: 100%;
    margin: 0;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(var(--color-3));
    transition: all 0.2s ease-in-out;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6:hover {
    background-color: rgb(var(--color-1));
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 .SVGIcon_SortBy,
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 .SVGIcon_ReadyToPlay {
    width: 24px;
    height: 24px;
}


/*
! Searchbar
*/
._20QAC4WMXm8qFE8waUT5oo,
._20QAC4WMXm8qFE8waUT5oo._3qwXPrhpZYqVbJxrZDrvjy {
    margin: 0;
    padding: 0 6px 12px;
    border-radius: 0;
    background-color: rgb(var(--color-2));
}
/* Search input */
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS {
    border-radius: 8px 0 0 8px;
    background-color: rgb(var(--color-3));
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
    border: none;
    box-shadow: none;
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:hover {
    background-color: unset;
}

/* Filter */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU {
    border-radius: 0 8px 8px 0;
    background-color: rgb(var(--color-3));
}
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:hover {
    background-color: rgb(var(--color-1)) !important;
}


/*
! Game list
*/
._1ijTaXJJA5YWl_fW2IxcaT {
    border-radius: 0 0 8px 8px;
    background-color: rgb(var(--color-2));
}

/* Collection header */
._2sYIghGVXJr6tsQVvcryy8 {
    margin: 0 6px;
    border: none;
    border-radius: 8px;
    background: none;
    background-color: rgb(var(--color-1));
}

/* Game item */
._2-O4ZG0KrnSrzISHBKctFQ {
    margin: 0 6px;
    border: none;
    border-radius: 8px;
}
._2-O4ZG0KrnSrzISHBKctFQ .ga1hyw11cdBVodrCAidPF ._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    border-radius: 4px !important;
}



/*
! Downloadbar
*//*
._1_yS5UP7el0aN4vntx3dx {
    visibility: hidden;
    height: 0;
}

._1_yS5UP7el0aN4vntx3dx:has(.yZ55NhARZGx1Awk2qs8pS) {
    visibility: visible;
    height: unset;
}

._1_yS5UP7el0aN4vntx3dx>div:has(._2iJsgdTIX9Tj23rWnB7Q-c) {
    display: none;
}

._3vCzSrrXZzZjVJFZNg9SGu {
    flex: unset;
    margin-top: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--color-2));
    box-shadow: none !important;
} */

/* Hide Add Game & Friends button
._2foCkpRXhqq0UGVE50BWqj,
._1TdaAqMFadi0UTqilrkelR {
    display: none;
} */

/* Progress
.ip-YZhijAMZcuRoXBGiye {
    width: 100%;
    padding: 0;
}

._2VtAqT03BpBsVdmxwptn9D {
    flex-direction: column;
    align-items: unset;
    gap: 6px;
    width: 100%;
} */

/* Icon
._2VtAqT03BpBsVdmxwptn9D ._1KrJ3sFAqPBN9mfpaNTU5F {
    display: flex;
    align-items: center;
    gap: 6px;
    width: unset;
    height: unset;
    margin-bottom: -17px;
    box-shadow: none;
}
._2VtAqT03BpBsVdmxwptn9D ._1KrJ3sFAqPBN9mfpaNTU5F ._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    width: 32px;
    height: 32px;
}

._2VtAqT03BpBsVdmxwptn9D ._21vPQjHoo0uwud5lfCD_x- {
    display: none;
} */

/* Progressbar
._2_FomluqqgQ2Hx8ON3AVep ._1xCcFYWIrJ7W8WRDmGvR3y {
    justify-content: flex-end;
}

._2_FomluqqgQ2Hx8ON3AVep .wi0pDywRgOCxhG7OqQNaA {
    --color-progress-bar-foreground: rgb(var(--accent-2));
    --color-progress-bar-background: rgb(var(--background));
}
.yZ55NhARZGx1Awk2qs8pS._1CcdviLW6hebdTPh-3a7DC::after {
    border-radius: 8px;
} */



/*
! Userpannel

._3cykd-VfN_xBxf3Qxriccm {
    width: min-content;
    margin: 12px 0 0;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--color-2));
}
._3x1HklzyDs4TEjACrRO2tB:has(.yZ55NhARZGx1Awk2qs8pS) ._3cykd-VfN_xBxf3Qxriccm {
    margin: 6px 0 0;
} */

/* Button order
._3cykd-VfN_xBxf3Qxriccm>div {
    order: 2;
}
._3cykd-VfN_xBxf3Qxriccm>div:nth-child(3) {
    order: 1;
} */

/* Buttons
._3cykd-VfN_xBxf3Qxriccm ._1n8t0vHFud57AoJ_IDgA9C,
._3cykd-VfN_xBxf3Qxriccm ._32TmRVFkc8HMIUZ-KnnKby,
._3cykd-VfN_xBxf3Qxriccm ._1AcQ7PwcnBGsbAmuKOZHvd,
._3cykd-VfN_xBxf3Qxriccm ._13vrqU6oOqmmxrsZSW5O39,
._3cykd-VfN_xBxf3Qxriccm ._3arz-hc3FJ0QKXLPRUSaah,
._3cykd-VfN_xBxf3Qxriccm ._5wILZhsLODVwGfcJ0hKmJ,
._3cykd-VfN_xBxf3Qxriccm .EdtW0igyTLSSiXq1Mcc8F,
._3cykd-VfN_xBxf3Qxriccm ._3mGEzzp18imtSzGPkduedi,
._3cykd-VfN_xBxf3Qxriccm ._3yD46y5pd3zOGR7CzKs0mC,
._3cykd-VfN_xBxf3Qxriccm .Utdt7JrpIm5JlpQmqyj1v {
    margin: 0;
} */



/*
! Game list sidebar sizebar
*/
._276E6ijBpjMA2_iTxNhhjc {
    margin: auto 6px;
    width: 4px;
    height: 240px;
    border-radius: 8px;
    background-color: rgb(var(--accent-1));
    transition: all 0.2s ease-in-out;
}
._276E6ijBpjMA2_iTxNhhjc:hover, ._276E6ijBpjMA2_iTxNhhjc:focus, ._276E6ijBpjMA2_iTxNhhjc:active {
    height: 280px;
    background-color: rgb(var(--accent-2)) !important;
}