._1ZS_xta5HMXzR8JgxDH6n7 {
	background: var(--color-2);
	border-radius: 8px 8px 0 0;
	margin-top: 15px;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
	border-radius: 8px;
	background-color: var(--color-3);
}