/* Scale Base */
._276E6ijBpjMA2_iTxNhhjc {
    margin: auto;
    margin-left: -10.5px;
    margin-right: 5.5px;
    height: 200px;
    background-color: var(--accent);
    border-radius: 8px;
    width: 5px;
}
/* Scale :hover:focus:active */
._276E6ijBpjMA2_iTxNhhjc:hover, ._276E6ijBpjMA2_iTxNhhjc:focus, ._276E6ijBpjMA2_iTxNhhjc:active {
    background-color: var(--accent-2) !important;
}