/* Base */
.gamelistsearchbar_Container_20QAC {
	margin: 0;
	padding: 6px 6px 10px 6px;
	border-radius: 0;
	background: var(--color-2);
}

/* Search */
.gamelistsearchbar_SearchInput_12vo5 {
	border-radius: 8px 0 0 8px !important;
}
.gamelistsearchbar_SearchInput_12vo5 input {
	border: none;
	background-color: var(--color-3) !important;
}
/* Filter Icon */
.gamelistsearchbar_AdvancedSearchContainer_vCCmY {
	border-radius: 0 8px 8px 0 !important;
	background-color: var(--color-3) !important;
}