/* Base */
._20QAC4WMXm8qFE8waUT5oo {
	margin: 0;
	padding: 6px 6px 10px 6px;
	border-radius: 0;
	background: var(--color-2);
}

/* Search */
._12vo5L1hsNGdao6_ssuirS {
	border-radius: 8px 0 0 8px !important;
}
._12vo5L1hsNGdao6_ssuirS input {
	border: none !important;
	background-color: var(--color-3) !important;
}
/* Filter Icon */
.vCCmYvn9yQ_V8CpKupllU {
	border-radius: 0 8px 8px 0 !important;
	background-color: var(--color-3) !important;
}