:has([href*="id/SpaceEnergy/badges"]) .profile_animated_background>video {
    display: none;
}




:has([href*="id/SpaceEnergy/badges"]) .profile_animated_background {
    position: fixed;
    height: 100vh;
    min-height: unset;
    border-radius: 8px 0 0 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




:has([href*="id/SpaceEnergy/badges"]) .profile_animated_background {
    background-image: url("https://media.robertsspaceindustries.com/5cfr2eq9px1un/source.jpg");
}