._3vCzSrrXZzZjVJFZNg9SGu {
    flex: 0 0 60px;
    margin: 15px;
    border-radius: 8px;
    background: var(--color-2);
    box-shadow: none !important;
}
._2EQ7ghgqIdjKv9jsQC0Zq9 {
    align-items: start;
}
.ip-YZhijAMZcuRoXBGiye {
    width: -webkit-fill-available;
    max-width: 100%;
}
._2_FomluqqgQ2Hx8ON3AVep .wi0pDywRgOCxhG7OqQNaA {
    height: 5px;
    background-color: var(--color-1);
}
._2_FomluqqgQ2Hx8ON3AVep .wi0pDywRgOCxhG7OqQNaA::after {
    border-radius: 10px;
    background-color: var(--accent-2);
}

._2foCkpRXhqq0UGVE50BWqj, ._1TdaAqMFadi0UTqilrkelR {
    display: none;
}