/*
& Game list
*/
._1_yS5UP7el0aN4vntx3dx {
    margin: 0 16px 16px;
}

/*
& Download bar
*/
._3vCzSrrXZzZjVJFZNg9SGu {
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
    box-shadow: none !important;
}

/*
! Userpannel
*/
._3cykd-VfN_xBxf3Qxriccm {
    margin: 0 27px 0 10px;
}

/* Buttons */
._39oUCO1OuizVPwcnnv88no ._1-9sir4j_KQiMqdkZjQN0u .Focusable {
    order: 2;
}
._39oUCO1OuizVPwcnnv88no ._1-9sir4j_KQiMqdkZjQN0u .Focusable:nth-child(4),
._39oUCO1OuizVPwcnnv88no ._1-9sir4j_KQiMqdkZjQN0u .Focusable:nth-child(5) {
    order: 1;
    display: flex;
    margin-right: 8px;
}

._2Szzh5sKyGgnLUR870zbDE {
    width: 32px;
    height: 24px;
    padding: 0 !important;
    border-radius: 2px;
    background-color: rgba(103,112,123,.2);
}
._3LKQ3S_yqrebeNLF6aeiog ._34bQcTHo5QKzuujoEyU1tm {
    top: unset;
}


/*
! Controls
*/
.qP17eBPXkfezFfexZ4hC3 .title-area {
    z-index: 99999;
}

.qP17eBPXkfezFfexZ4hC3 .title-area .title-bar-actions {
    height: 46px;
}
.qP17eBPXkfezFfexZ4hC3 .title-area .title-area-icon {
    height: 46px;
}