@import url("./friends/chat.css");
@import url("./friends/groupChat.css");
@import url("./friends/list.css");



/*
& Ban piracy plugins
*/
[class*="luatools" i] body>div,
[data-millennium-plugin*="luatools" i] body>div,
[data-manilua-button],
[data-manilua-modal],
[class*="manilua" i] body>div,
[data-millennium-plugin*="manilua" i] body>div,
[class*="lumea" i] body>div,
[data-millennium-plugin*="lumea" i] body>div {
    display: none !important;
}


[class*="luatools" i] body::before,
[data-millennium-plugin*="luatools" i] body::before,
[class*="manilua" i] body::before,
[data-millennium-plugin*="manilua" i] body::before,
[class*="lumea" i] body::before,
[data-millennium-plugin*="lumea" i] body::before {
    content: "Pls remove any piracy plugin to use this theme. stable: C:\\Program Files (x86)\\Steam\\plugins beta: C:\\Program Files (x86)\\Steam\\millennium\\plugins" !important;
    display: block !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    text-align: center;
    transform: translate(-50%, -50%) !important;
    color: #fff !important;
}



.singleWindowFocusBar {
    mask: unset;
    -webkit-mask: unset;
    background: unset;
}


.TitleBar {
    top: -32px;
    width: calc(100% + 32px);
    margin-left: -16px;
}
.LegacyPopup .TitleBar {
    top: 0;
    width: 100%;
    margin-left: 0;
}


.friendsListContainer,
.multiChatDialog {
    overflow: unset !important;
    height: calc(100% - 48px);
    margin: 32px 16px 16px;
}