@import url("./steam/titlebar.css");
@import url("./steam/sidebar.css");
@import url("./steam/libHome.css");
@import url("./steam/millenniumSettings.css");
@import url("./steam/gamepage.css");
@import url("./steam/downloadPage.css");
@import url("./steam/soundtrackPage.css");
@import url("./steam/newsModal.css");
@import url("./steam/achievementsModal.css");



#st-loading-div {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--background));
}

.st-radial-loader {
    width: 54px;
    height: 54px;
    border: 8px solid rgba(var(--color-2));
    border-top: 8px solid rgb(var(--accent-1));
    border-radius: 50%;
    animation: st-spin .6s linear infinite;
}

@keyframes st-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/* Base */
._1ENHEsrSLcTRtPQFl1F-wL {
    border: none;
    background-color: rgb(var(--background)) !important;
}
._1rDh5rXSFZJOqCa4UpnI4z {
    margin: 0 16px 16px;
    border-radius: 8px;
}





/*! Remove after experiment is live */
/*downloadbar*/
._1_yS5UP7el0aN4vntx3dx {
    margin: 0 16px 16px;
}

._3vCzSrrXZzZjVJFZNg9SGu {
    border-radius: 8px;
    background-color: rgb(var(--color-2));
    box-shadow: none !important;
}