@import url("./inputs/inputs.css");
@import url("./steam/modalDialogPopup.css");

/*
& Plugins
*/
@import url("./plugins/augmentedSteam.css");



/* Scrollbar */
*::-webkit-scrollbar {
    width: 14px !important;
}
  
*::-webkit-scrollbar-track {
    border-radius: 8px !important;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    border: 4px solid transparent !important;
    background-clip: content-box !important;
    background-color: rgb(var(--accent-1)) !important;
}
  
*::-webkit-scrollbar-thumb:hover {
    border: 3px solid transparent !important;
    background-color: rgb(var(--accent-2)) !important;
}



/* Titlebar controls */
.title-area,
.title-area .title-area-highlight,
.title-area .title-area-children {
    height: 32px !important;
    mask: unset;
    -webkit-mask: unset;
    background: unset;
}
div.ModalPosition_TopBar {
    display: none;
}

/* Buttons */
.title-area .title-bar-actions {
    max-height: unset;
    height: 32px;
}

.title-area .title-area-icon {
    width: 42px;
    height: 32px;
}
.title-area .title-area-icon:hover {
    background: rgb(var(--color-2));
}


/* Icons */
.title-area .title-area-icon .SVGIcon_Button line,
.title-area .title-area-icon .SVGIcon_Button rect,
.title-area .title-area-icon .SVGIcon_Button polyline {
    stroke: rgb(var(--accent-1));
}

.title-area .title-area-icon:hover .SVGIcon_Button line,
.title-area .title-area-icon:hover .SVGIcon_Button rect,
.title-area .title-area-icon:hover .SVGIcon_Button polyline {
    stroke: rgb(var(--accent-2));
}


/* Close button */
.title-area .title-area-icon.closeButton:hover {
    background: rgb(var(--accent-1));
}
.title-area .title-area-icon.closeButton:hover .SVGIcon_Button line {
    stroke: rgb(var(--color-2));
}



/* Resize icon */
.window_resize_grip {
    opacity: 0 !important;
}