@import url("./inputs/import.css");
@import url("./steam/modalDialogPopup.css");

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}



:root {
    --red: 240, 74, 74;
    --red-hover: 242, 99, 99;
    --green: 36, 166, 90;
    --green-hover: 39, 185, 100;
    --blue: 75, 137, 239;
    --blue-hover: 100, 154, 242;
    --yellow: 239, 141, 75;
    --yellow-hover: 239, 141, 75;
}



/* Scrollbar */
*::-webkit-scrollbar {
    width: 14px !important;
}
  
*::-webkit-scrollbar-track {
    border-radius: 8px !important;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    border: 4px solid transparent !important;
    background-clip: content-box !important;
    background-color: rgb(var(--accent-1)) !important;
}
  
*::-webkit-scrollbar-thumb:hover {
    border: 3px solid transparent !important;
    background-color: rgb(var(--accent-2)) !important;
}



/* Titlebar controls */
.title-area,
.title-area .title-area-highlight,
.title-area .title-area-children {
    height: 32px !important;
    mask: unset;
    -webkit-mask: unset;
    background: unset;
}
div.ModalPosition_TopBar {
    display: none;
}

/* Buttons */
.title-area .title-bar-actions {
    max-height: unset;
    height: 32px;
}

.title-area .title-area-icon {
    width: 42px;
    height: 32px;
}
.title-area .title-area-icon:hover {
    background: rgb(var(--color-2));
}


/* Icons */
.title-area .title-area-icon .SVGIcon_Button line,
.title-area .title-area-icon .SVGIcon_Button rect,
.title-area .title-area-icon .SVGIcon_Button polyline {
    stroke: rgb(var(--accent-1));
}

.title-area .title-area-icon:hover .SVGIcon_Button line,
.title-area .title-area-icon:hover .SVGIcon_Button rect,
.title-area .title-area-icon:hover .SVGIcon_Button polyline {
    stroke: rgb(var(--accent-2));
}


/* Close button */
.title-area .title-area-icon.closeButton:hover {
    background: rgb(var(--accent-1));
}
.title-area .title-area-icon.closeButton:hover .SVGIcon_Button line {
    stroke: rgb(var(--color-2));
}



/* Resize icon */
.window_resize_grip {
    opacity: 0 !important;
}