:root {
    --accent-1: 102, 108, 255;
    --accent-2: 135, 140, 255;
    --color-1: 17, 17, 17;
    --color-2: 30, 30, 30;
    --color-3: 20, 20, 20;
    --color-4: 24, 24, 24;
    --color-5: 38, 41, 44;
    --color-6: 38, 38, 41;
    --background: 10, 10, 10;
}