.Rp8QOGJ2DypeDniMnRBhr .VZ6x_grhNkIYJG__jEEyp.DesktopUI {
    display: flex;
    flex-direction: column;
    border: unset;
    background: unset;
    background-color: rgb(var(--st-background));
    box-shadow: none;
    animation: none;
}


/*
! Window title (Who's Playing?)
*/
._37ANMR1DAeBJYXulW34A2S {
    min-height: 30px;
}


.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._2OLQBEFErC3eaxHeD7--LU {
    position: absolute;
    top: 0;
    left: 16px;
    width: max-content;
    margin: 0;
    padding: 16px 0;
    font-size: 12px !important;
    line-height: 0;
    font-weight: 600 !important;
    text-transform: none;
    color: #969696 !important;
}



/*
& Loading Window
*/
.Rp8QOGJ2DypeDniMnRBhr ._1TR3CCCdSmI-0MXucYBuP2 {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 0 16px 16px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-1));
}


/*
! Loading spinner
*/
.Rp8QOGJ2DypeDniMnRBhr ._1DWH_4M4yAq8O2T06-3ckY {
    display: none;
}


.Rp8QOGJ2DypeDniMnRBhr ._3CN5DkgNMvdtT9fJhNOj_v::before {
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    border: 8px solid rgba(var(--st-color-2));
    border-top: 8px solid rgb(var(--st-accent-1));
    border-radius: 50%;
    animation: spin .6s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*
! Loading bar
*/
.Rp8QOGJ2DypeDniMnRBhr ._191qxA6UisOKSvaq9gM4W6 {
    display: none;
}


/*
! Avatar & Username
*/
.Rp8QOGJ2DypeDniMnRBhr ._6Z2AOU-R-8aK7KZevey0W {
    display: none;
}



/*
& Select User Window
*/
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z {
    width: -webkit-fill-available;
    margin: 0 16px 16px;
    padding: 0;
    border-radius: 8px;
    background-color: rgb(var(--st-color-1));
}




.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._29VQq5eE-j95L-SafIOc1T {
    overflow: auto;
    padding: 12px;
}


.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._1Tsmp8q3Beodvix_OSedxk {
    justify-content: center;
    margin: 0;
}


/*
! Steam Logo
*/
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._14exBrSFDthVqeknXgFh4X {
    display: none;
}


/*
! Users
*/
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._3SxgWhoEWiasRtCutBmix- {
    position: unset;
    flex-direction: column;
}

/** User Card */
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z .l_0WJ2pzm_5Zp7gfT_UZz {
    flex: unset;
    display: grid;
    grid-template-areas:
        "avatar displayName"
        "avatar accountName";
    gap: 0 12px;
    align-items: center;
    justify-content: start;
    width: 350px;
    margin: 6px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z .l_0WJ2pzm_5Zp7gfT_UZz:hover {
    background-color: rgb(var(--st-color-4));
}

/*^ Avatar */
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z .l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux {
    grid-area: avatar;
    opacity: 1;
    width: 50px;
    height: 50px;
    margin: 0;
    border: 0;
    background-color: unset;
    box-shadow: unset;
    transform: unset
}

.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z .l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux img {
    border-radius: 8px;
}

/*^ Name */
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z .l_0WJ2pzm_5Zp7gfT_UZz ._1448SH49Bc8Zr5Bzzc5qkt,
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z .l_0WJ2pzm_5Zp7gfT_UZz ._3iVOCDb8eFFTeqiopupsej {
    opacity: 1;
    position: unset;
    text-align: center;
    white-space: unset;
}

/* Display name */
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z .l_0WJ2pzm_5Zp7gfT_UZz ._3iVOCDb8eFFTeqiopupsej {
    grid-area: displayName;
    width: fit-content
}

/* Account name */
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z .l_0WJ2pzm_5Zp7gfT_UZz ._1448SH49Bc8Zr5Bzzc5qkt {
    grid-area: accountName;
    padding: 0;
}


/*
! Add Account
*/
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._3SxgWhoEWiasRtCutBmix- [role="listitem"]:has(._1mt2mPMVEDfpOhhWePy9hc) {
    display: block !important;
    position: absolute;
    bottom: calc(16px + 16px);
    right: calc(16px + 16px);
}


/** Button */
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._1mt2mPMVEDfpOhhWePy9hc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    aspect-ratio: 1 / 1;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._1mt2mPMVEDfpOhhWePy9hc:hover {
    background-color: rgb(var(--st-color-4));
}

/*^ Icon */
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._1mt2mPMVEDfpOhhWePy9hc:hover .IfVUbt19eXIqaAuGh2i63 {
    border: unset;
    box-shadow: unset;
    transform: unset;
}

/*! Move to icon files */
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._1mt2mPMVEDfpOhhWePy9hc .IfVUbt19eXIqaAuGh2i63::before {
    content: "\f5cd";
    font-size: 22px;
}
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._1mt2mPMVEDfpOhhWePy9hc .IfVUbt19eXIqaAuGh2i63 svg {
    display: none;
}

/*^ Text */
.Rp8QOGJ2DypeDniMnRBhr ._27A5ub1QLLIMmgywKVMg4z ._1mt2mPMVEDfpOhhWePy9hc ._3iVOCDb8eFFTeqiopupsej {
    display: none;
}



/*
& Login Window
*/
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 {
    flex-direction: unset;
    height: -webkit-fill-available;
    margin: 0 16px 16px;
}


.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt {
    gap: 12px;
    padding: 16px;
    border-radius: 8px;
    background: unset;
    background-color: rgb(var(--st-color-1));
}


/*
! Back
*/
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._2Jkgs1ZwjavbwnJy76UgUm {
    width: 12px !important;
    height: auto !important;
}


/*
! Steam Logo
*/
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._3v6WnuVNx1rJx0x_1AAyPp {
    display: none;
}


/*
! Main
*/
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 .ZHRZ8czyqs7NaNmv65ARI {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
}


/*
! Form
*/
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._2v60tM463fW0V7GDe92E5f {
    height: -webkit-fill-available;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}



/* Input Title */
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 .XrYgea66b38RASmbI3PJo {
    font-weight: unset;
    color: #afafaf;
}


/* Input */
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._2GBWeup5cttgbTw8FM3tfx {
    padding: 6px 12px;
    border: 2px solid rgb(var(--st-color-3));
    border-radius: 8px;
    background-color: rgb(var(--st-color-3));
}
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._2GBWeup5cttgbTw8FM3tfx._16BUa8w2l6LPH1otvXnwAR {
    border-color: rgb(var(--st-red));
}


/* Remember me */
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 .LBS7IDpob52Sb4ZoKobh0 {
    width: 12px;
    height: 12px;
    padding: 6px;
    border-radius: 100%;
    background-color: rgb(var(--st-color-3));
}


/* Sign in */
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._16fbihk6Bi9CXuksG7_tLt {
    order: 2;
}


.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 .DjSvCZoKKfoNSmarsEcTS {
    pointer-events: none;
    opacity: .4;
    width: 100%;
    border-radius: 8px;
    background: unset;
    background-color: rgb(var(--st-color-1));
}
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1:has(._2GBWeup5cttgbTw8FM3tfx[type="text"]:not([value=""])):has(._2GBWeup5cttgbTw8FM3tfx[type="password"]:not([value=""])) .DjSvCZoKKfoNSmarsEcTS {
    pointer-events: auto;
    opacity: 1;
    background-color: rgb(var(--st-accent-1));
}


/*
! QR Login Code
*/
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._3wSeH3OorL-tMzwXL55smN {
    height: -webkit-fill-available;
    margin: 0;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--st-color-2));
}

.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._3ToZQDL9M9IP5o2tIhKLxH {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._35Q-UW9L8wv2fkImoWScgQ {
    margin: 0;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: rgb(var(--st-color-4));
}


/* QR Divs */
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 .xlEVpBeYO1h2tOqErt9fj {
    border: none;
}

.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 .xlEVpBeYO1h2tOqErt9fj ._1YVDTFYSTDWouyIbRs_hN_:not(._1zNnNw2BDhrN6ML6YxBYJE) {
    background-color: rgb(var(--st-color-4)) !important;
}
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 .xlEVpBeYO1h2tOqErt9fj ._1YVDTFYSTDWouyIbRs_hN_._1zNnNw2BDhrN6ML6YxBYJE {
    background-color: rgb(var(--st-accent-1)) !important;
}


/* Reload */
.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._2ltn2BK4fnrPEGzNwxx6bx {
    width: 100%;
    height: 100%;
    padding: 0;
    background: unset;
    box-shadow: unset;
}


.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._2ltn2BK4fnrPEGzNwxx6bx button {
    margin: 0;
    padding: 0 !important;
    box-shadow: none;
}

.Rp8QOGJ2DypeDniMnRBhr .lat0M-V5X4uYd6Mpm1DJ1 ._2ltn2BK4fnrPEGzNwxx6bx button::before {
    display: none;
}