@import url("./webkit/store/agecheck.css");
@import url("./webkit/store/cart.css");
@import url("./webkit/store/game.css");
@import url("./webkit/store/home.css");
@import url("./webkit/store/news.css");
@import url("./webkit/store/wishlist.css");
@import url("./webkit/profile.css");

@import url("./webkit/store/pointshop.css");

/*
& Base
*/

body.v6,
body.v6.game_bg,
body.v6 .game_page_background.game,
.home_cluster_ctn {
    background: transparent !important;
    background-color: transparent !important;
}
body.v6::before,
body.v6.game_bg::before,
body.v6 .game_page_background::before {
    content: "";
    z-index: -1;
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
    background-color: rgb(var(--color-1));
}

body.v6::-webkit-scrollbar {
    background-color: rgb(var(--color-1));
    border-radius: 0 8px 8px 0;
}




/*
& Navbar/Header
!
! REMOVE
! When the new Navbar is in the Steam Stable Branch.
!
*/
#store_header .content {
    box-sizing: border-box;
    position: fixed !important;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 12px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
    max-width: 1200px;
    height: auto !important;
    margin: 12px 0 0 !important;
    padding: 6px 16px;
    border-radius: 8px;
    background-color: rgb(var(--color-2));
    box-shadow: 0px 4px 8px 0px rgba(var(--background), 0.5);
}

#store_header .content:not(:has(#store_nav_area)) {
    display: none;
}



/* Nav Area */
#store_header #store_nav_area {
    position: unset;
    width: -webkit-fill-available;
    height: unset;
}

#store_header #store_nav_area .store_nav_bg {
    height: auto;
    margin: 0;
    background: unset;
    box-shadow: none;
}


#store_header .store_nav_bg .store_nav {
    gap: 12px;
    height: unset;
}


/* Button */
#store_header .store_nav_bg .tab,
#store_header .store_nav_bg .tab .pulldown,
#store_header .store_nav_bg .tab span {
    padding: 0;
    line-height: 32px;
    background: none !important;
}

#store_header .store_nav_bg .tab .pulldown {
    padding: 0;
    line-height: 32px;
}

#store_header .store_nav_bg .store_labs_new {
    display: none;
}

#store_header .store_nav_bg .search_flex_spacer {
    display: none;
}


/* Avatar */
#store_header .store_nav_bg .tab .foryou_avatar {
    display: none;
}


/* Searchbar */
#store_header .store_nav_bg .search_area {
    display: flex;
    flex-shrink: unset;
    justify-content: end;
    align-items: center;
    max-width: unset;
}
#store_header .store_nav_bg .search_area #store_search {
    width: 100%;
    max-width: 430px;
    height: 32px;
    padding: 0;
}


#store_header .store_nav_bg .search_area #store_search .searchbox {
    height: 32px;
    margin: 0 6px;
    padding: 0 12px;
    border: none;
    border-radius: 8px;
    background-color: rgba(var(--color-1));
    box-shadow: none;
}

#store_header .store_nav_bg .search_area #store_search .searchbox input {
    height: 32px;
    margin: 0;
}

#store_header .store_nav_bg .search_area #store_search .searchbox input.default {
    height: 32px;
    margin: 0;
    text-shadow: none;
    font-weight: 500;
    text-transform: capitalize;

    &::placeholder {
        color: #8d8d8d;
    }
}

#store_header .store_nav_bg .search_area #store_search .searchbox #store_search_link img {
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYuMDAxMDY4IiBoZWlnaHQ9IjI1Ljk5OTkwOCIgdmlld0JveD0iMCAwIDI2LjAwMTEgMjUuOTk5OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+Cgk8ZGVzYz4KCQkJQ3JlYXRlZCB3aXRoIFBpeHNvLgoJPC9kZXNjPgoJPGRlZnMvPgoJPHBhdGggaWQ9IlNoYXBlIiBkPSJNMTAuNSAwQzQuNyAwIDAgNC43IDAgMTAuNUMwIDE2LjI5IDQuNyAyMSAxMC41IDIxQzEyLjk0IDIxIDE1LjIgMjAuMTYgMTYuOTggMTguNzVMMjMuODYgMjUuNjNDMjQuMzUgMjYuMTIgMjUuMTQgMjYuMTIgMjUuNjMgMjUuNjNDMjYuMTIgMjUuMTQgMjYuMTIgMjQuMzUgMjUuNjMgMjMuODZMMTguNzUgMTYuOThDMjAuMTYgMTUuMiAyMSAxMi45NCAyMSAxMC41QzIxIDQuNyAxNi4yOSAwIDEwLjUgMFpNMi41IDEwLjVDMi41IDYuMDggNi4wOCAyLjUgMTAuNSAyLjVDMTQuOTEgMi41IDE4LjUgNi4wOCAxOC41IDEwLjVDMTguNSAxNC45MSAxNC45MSAxOC41IDEwLjUgMTguNUM2LjA4IDE4LjUgMi41IDE0LjkxIDIuNSAxMC41WiIgZmlsbD0iI0ZGRkZGRiIgZmlsbC1vcGFjaXR5PSIxLjAwMDAwMCIgZmlsbC1ydWxlPSJub256ZXJvIi8+Cjwvc3ZnPgo=");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}


/* Searchbar Suggests */
#store_header .store_nav_bg .search_area .search_suggest {
    top: 53px;
    right: unset;
    border-radius: 8px;
    box-shadow: none;
}


#store_header .store_nav_bg .search_area .search_suggest .popup_body {
    padding: 12px;
    border-radius: 8px;
    border: 3px solid rgb(var(--color-5)) !important;
    background-color: rgb(var(--color-2));
}

#store_header .store_nav_bg .search_area .search_suggest .popup_body #search_suggestion_contents {
    display: flex;
    gap: 6px;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Searchbar Suggests Matches */
#store_header .store_nav_bg .search_area .search_suggest .popup_body .match {
    padding: 0;
}
#store_header .store_nav_bg .search_area .search_suggest .popup_body .match:hover {
    background-color: unset;

    & * {
        color: #fff;
    }
}
#store_header .store_nav_bg .search_area .search_suggest .popup_body .match:hover * {
    color: #fff;
}

#store_header .store_nav_bg .search_area .search_suggest .popup_body .match_app {
    width: 100%;

    & * {
        color: #8d8d8d;
    }
}


/* Searchbar Suggests Matches Cards */
#store_header .store_nav_bg .search_area .search_suggest .popup_body :is(.match_creator, .match_tag) {
    width: calc(50% - 3px);
    height: auto;
    padding: 6px;
    border-radius: 8px;

    /*&:nth-last-of-type(1) {
        width: 100%;
    }*/
}
#store_header .store_nav_bg .search_area .search_suggest .popup_body .match_tag {
    grid-template-areas: "name name name name" "price price price price";
}

#store_header .store_nav_bg .search_area .search_suggest .popup_body .match_creator {
    grid-template-areas: "img name name name" "img price price price";
}


#store_header .store_nav_bg .search_area .search_suggest .popup_body :is(.match_creator, .match_tag) .match_background_image {
    top: unset;
    bottom: unset;
    left: unset;
    right: 0;
    height: 100%;
    filter: blur(2px) brightness(0.5);
    transition: all 0.2s ease-in-out;
}
#store_header .store_nav_bg .search_area .search_suggest .popup_body :is(.match_creator:hover, .match_tag:hover) .match_background_image {
    filter: blur(2px) brightness(0.7);
    transform: scale(1.05);
}

#store_header .store_nav_bg .search_area .search_suggest .popup_body :is(.match_creator, .match_tag) .match_background_image img {
    height: 100%;
    filter: none;
    -webkit-mask-image: none;
    mask-image: none;
}


#store_header .store_nav_bg .search_area .search_suggest .popup_body :is(.match_creator, .match_tag) .match_name {
    padding: 0;
    font-size: 13px;
}
#store_header .store_nav_bg .search_area .search_suggest .popup_body :is(.match_creator, .match_tag) .match_name div {
    display: none;
}
#store_header .store_nav_bg .search_area .search_suggest .popup_body :is(.match_creator, .match_tag) .match_name span {
    margin: 0;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgb(var(--color-5));
}


#store_header .store_nav_bg .search_area .search_suggest .popup_body .match_creator .match_img {
    width: 38px;
    height: 38px;
    border-radius: 8px;
}
#store_header .store_nav_bg .search_area .search_suggest .popup_body .match_creator .match_img img {
    width: 38px;
    height: 38px;
}

#store_header .store_nav_bg .search_area .search_suggest .popup_body :is(.match_creator, .match_tag) .match_subtitle {
    justify-content: start;
    padding: 0;
    font-size: 12px;
}





/* Nav Buttons */
#store_header #store_controls {
    position: unset;
}

#store_header #store_controls .cart_status_flex:has(._1LXDg91iImWld4-5gWdGx4) {
    gap: 6px;
}


/* Wishlist button */
#store_header #store_controls .store_header_btn:has(#wishlist_link) {
    float: unset;
    height: unset;
    margin: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
}

#store_header #store_controls .store_header_btn #wishlist_link {
    display: flex;
    gap: 2px;
    align-items: center;
    width: max-content;
    margin: 0;
    padding: 6px 12px;
    font-size: 0;
    font-weight: 600;
    border-radius: 6px;
    color: transparent;
    background: none;
    background-color: rgb(var(--blue), .2);
}
#store_header #store_controls .store_header_btn #wishlist_link:hover {
    background-color: rgb(var(--blue), .4) !important;
}

#store_header #store_controls .store_header_btn #wishlist_link::before {
    content: "\f47e" !important;
    font-size: 20px;
    color: rgb(var(--blue));
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}
#store_header #store_controls .store_header_btn #wishlist_link #wishlist_item_count_value {
    font-size: 11px;
    color: rgb(var(--blue));
}



/* Cart button */
#store_header #store_controls ._1LXDg91iImWld4-5gWdGx4 {
    margin: 0;
}

#store_header #store_controls ._2Fm-3XmbFRXR6yOZiRB0-d {
    display: flex;
    gap: 2px;
    align-items: center;
    width: max-content;
    padding: 6px 12px;
    font-weight: 600;
    border-radius: 6px;
    color: rgb(var(--green));
    background: none;
    background-color: rgba(var(--green), 0.2);

    &:hover {
        background-color: rgba(var(--green), 0.4);
    }
}

#store_header #store_controls ._2Fm-3XmbFRXR6yOZiRB0-d::before {
    content: "\f26b" !important;
    font-size: 20px;
    color: rgb(var(--green));
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}
#store_header #store_controls ._2Fm-3XmbFRXR6yOZiRB0-d ._1P_gEVnGARDlC_80XwA2tX {
    display: none;
}



/*
& Navbar/Header
*/
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y {
    box-sizing: border-box;
    position: fixed !important;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1200px;
    height: unset !important;
    margin: 16px 0 0;
    padding: 6px 16px;
    border: 0 !important;
    border-radius: 8px;
    background: none;
    background-color: rgb(var(--color-2));
    box-shadow: 0px 4px 8px 0px rgba(var(--background), 0.5);
}

.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._7FiqKP7fZJGltkwRxPG6s {
    width: 100%;
    height: auto;
}


/*
! Backdrop
*/
.h2B3SGR_w4RWdrnsRZEcD ._19o1GB7ysfrWKLYpqZ6aXu._2IyR9WyPwYb15ILBjPvLR9 {
    opacity: 0 !important;
}


/*
! Buttons
*/
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._3CtcPWgZYR05CldoJ0Jkrx {
    gap: 6px;
}


/** Button */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._3CtcPWgZYR05CldoJ0Jkrx ._175B12uOwmeGBNcSaQFe-Z {
    padding: 0;
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._3CtcPWgZYR05CldoJ0Jkrx ._175B12uOwmeGBNcSaQFe-Z._2IyR9WyPwYb15ILBjPvLR9 {
    color: rgb(var(--accent-1));
    text-shadow: none
}

/* Under text Divider */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._3CtcPWgZYR05CldoJ0Jkrx ._175B12uOwmeGBNcSaQFe-Z ._3gaaE-cRfFWJdZcC8XMi0x  {
    background-color: rgb(var(--accent-1));
}



/*
! Searchbar
*/
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y .WFyPwmwIjPaI784fImRbi {
    justify-content: flex-end;
}

.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._1KU9eASfov1GnFQRbyLIdR {
    flex: 0;
    width: 230px;
    min-width: unset;
    height: -webkit-fill-available;
    border-radius: 8px;
    background-color: rgb(var(--color-1));
    transition: 0.4s all ease-in-out;
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._1KU9eASfov1GnFQRbyLIdR:hover,
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y:has(.SWL3uBHWmdcYwUXE9yD0y:not([style*="height: 0px;"])) ._1KU9eASfov1GnFQRbyLIdR {
    flex: 1;
}


/** Input */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._1KU9eASfov1GnFQRbyLIdR ._2tlUAG6WNyYFlk9caIiLj5 {
    padding: 0 12px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: none;
}


/** Button */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._1KU9eASfov1GnFQRbyLIdR ._1Yo-ZsBr-KbVMyAMXEYszd {
    border-radius: 8px;
    background-color: transparent;
}

/*^ Icon */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._1KU9eASfov1GnFQRbyLIdR ._1Yo-ZsBr-KbVMyAMXEYszd svg {
    display: none;
}

.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._1KU9eASfov1GnFQRbyLIdR ._1Yo-ZsBr-KbVMyAMXEYszd::before {
    content: "\f69a" !important;
    margin-right: 6px;
    font-size: 18px;
    color: #dcdedf;
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}



/*
! Search results
*/
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 {
    gap: 12px;
    margin-top: 12px;
    padding: 12px;
    border: 3px solid rgb(var(--color-5));
    border-radius: 8px;
    background: unset;
    background-color: rgb(var(--color-2));
}

/* Result lable/title */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2V9568XIc6vv9aEQ3EIVlG {
    display: none;
}


/** Games */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._3Z1skIYVoqLbYiP2wy46Ce {
    gap: 12px;
    background: unset;
}

/*^ Image */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2qsM52VkK9BR1Vi0HBOrtY {
    background: unset;
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2qsM52VkK9BR1Vi0HBOrtY img {
    border-radius: 8px;
}

/*^ Name */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._1D5FETA8rX0cTIhaC9W2wD ._2c8KHMFOeIi4TVcVN6qeIi {
    font-size: 15px;
    font-weight: 600;
}

/*^ Price */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._1D5FETA8rX0cTIhaC9W2wD .KG1rpRyNTy_2__H8GV8__ {
    font-size: 13px;
    font-weight: 500;
}

/* Price Discount */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._1D5FETA8rX0cTIhaC9W2wD .KG1rpRyNTy_2__H8GV8__ ._2lQxRlo1DQ1PN08TYTil2L {
    border-radius: 4px;
}


/** Recently viewed */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._3DOcONbchITbAuaF30dduG::before {
    content: "";
    display: flex;
    width: 100%;
    height: 3px;
    margin: 0 0 12px;
    border-radius: 8px;
    background-color: rgb(var(--color-5));
}

/* Lable/Title */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._3DOcONbchITbAuaF30dduG>._2V9568XIc6vv9aEQ3EIVlG {
    display: block;
    margin-bottom: 6px;
    line-height: 13px;
}


/** Genres/Creators */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2saiNsl5yBtsoFzf_fhdET::before {
    content: "";
    display: flex;
    width: 100%;
    height: 3px;
    margin: 0 0 12px;
    border-radius: 8px;
    background-color: rgb(var(--color-5));
}

/*^ Card */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2saiNsl5yBtsoFzf_fhdET ._2tdhUFMMsjGr_BI7uMcoWy {
    box-sizing: border-box;
    height: 52px;
    padding: 6px 16px;
    border-radius: 8px;
    background: unset;
}

/* Banner */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2saiNsl5yBtsoFzf_fhdET ._2tdhUFMMsjGr_BI7uMcoWy img {
    filter: blur(2px) brightness(0.5);
    transition: all 0.2s ease-in-out;
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2saiNsl5yBtsoFzf_fhdET ._2tdhUFMMsjGr_BI7uMcoWy:hover img {
    filter: blur(2px) brightness(0.7);
    transform: scale(1.05);
}

.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2saiNsl5yBtsoFzf_fhdET ._2tdhUFMMsjGr_BI7uMcoWy ._2w-jD5qv9RsHiUz19AVLGO {
    display: none;
}

/* Lable */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2saiNsl5yBtsoFzf_fhdET ._2tdhUFMMsjGr_BI7uMcoWy .NOctYARrXun3C2m8ZOA3u {
    padding: 0;
    font-weight: 800;
    color: #fff;
    background: unset;
    transform: none !important;
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2saiNsl5yBtsoFzf_fhdET ._2tdhUFMMsjGr_BI7uMcoWy:hover .NOctYARrXun3C2m8ZOA3u {
    transform: scale(1.1) !important;
}


/** Advanced Search */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2Cp17yynz2h_StEQZcNnqB::before {
    content: "";
    display: flex;
    width: 100%;
    height: 3px;
    margin: 0 0 12px;
    border-radius: 8px;
    background-color: rgb(var(--color-5));
}

/*^ Button */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2Cp17yynz2h_StEQZcNnqB {
    padding: 0;
    background: unset;
}

/* Text */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2Cp17yynz2h_StEQZcNnqB .NOctYARrXun3C2m8ZOA3u {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--color-4));
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._2GxMhpm7OC2WWXN_wjgA78 ._2Cp17yynz2h_StEQZcNnqB .NOctYARrXun3C2m8ZOA3u:hover {
    font-weight: 600;
    background-color: rgb(var(--color-3));
}



/*
! Wishlist button
*/
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z._1tJxbjNzcWSdG2hBsklCTN {
    gap: 0;
    padding: 6px 12px;
    font-size: 0;
    border-radius: 8px;
    background-color: rgb(var(--blue), .2);
    text-shadow: none;
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z._1tJxbjNzcWSdG2hBsklCTN:hover {
    background-color: rgb(var(--blue), .4);
}


/** Icon */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z._1tJxbjNzcWSdG2hBsklCTN::before {
    content: "\f1f6" !important;
    margin-right: 6px;
    font-size: 20px;
    color: rgb(var(--blue));
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z._1tJxbjNzcWSdG2hBsklCTN svg {
    display: none;
}


/** Amount */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z._1tJxbjNzcWSdG2hBsklCTN .BReXgOZvJY6u4htWQn1aF {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: rgb(var(--blue));
}



/*
! Cart button
*/
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z.qqQDu9j0LIoK-w06-JxB5 {
    gap: 0;
    margin: 0 0 0 6px;
    padding: 6px 12px;
    font-size: 0;
    border-radius: 8px;
    background-color: rgb(var(--green), .2);
    text-shadow: none;
    box-shadow: none;
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z.qqQDu9j0LIoK-w06-JxB5:hover {
    background-color: rgb(var(--green), .4);
}


/** Icon */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z.qqQDu9j0LIoK-w06-JxB5::before {
    content: "\f26b" !important;
    margin-right: 6px;
    font-size: 20px;
    color: rgb(var(--green));
    font-family: FluentSystemIcons-Filled !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z.qqQDu9j0LIoK-w06-JxB5 svg {
    display: none;
}


/** Amount */
.h2B3SGR_w4RWdrnsRZEcD ._16jZ3HEbtaJTl80pQINN2Y ._175B12uOwmeGBNcSaQFe-Z.qqQDu9j0LIoK-w06-JxB5 .BReXgOZvJY6u4htWQn1aF {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: rgb(var(--green));
}



/*
! Content
*/



/*
& Footer
*/
html body.v6 #footer {
    width: fit-content;
    margin: 0 auto 16px;
    padding: 0 16px 16px;
    border-radius: 8px;
    background-color: rgb(var(--color-2));
}

/* Top Divider */
html body.v6 #footer .rule:nth-child(1) {
    display: none;
}