.search_page #search_result_container #search_resultsRows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



/*
& Card
*/
.search_page #search_result_container .search_result_row {
    flex-direction: column;
}



/*
! Card
*/
/*** Content */
.search_page #search_result_container .search_result_row .responsive_search_name_combined {
    gap: 6px 0;
    grid-template-areas:
        "title title title platforms"
        "reviews reviews price price"
        "release release price price" !important;
}


/*^ Release Date */
.search_page #search_result_container .search_result_row .search_released {
    margin: 0 !important;
}