/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Main Game List
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


._3BFcmjAaMyP6GTPwc0VyWi {
    margin: 0 15px 0 0;
    border-radius: 8px;
}
._2Dd4T78PcCTUVgOtDGFY5j {
    border-radius: 8px;
}
._2Dd4T78PcCTUVgOtDGFY5j, ._2gSXCB6PbOlMxslr8hm6dm, ._3Sb2o_mQ30IDRh0C72QUUu {
    background: none;
    background-image: none;
}
._2gSXCB6PbOlMxslr8hm6dm {
    background: var(--color-3);
}
._17uEBe5Ri8TMsnfELvs8-N {
    margin: 15px;
    border-radius: 8px;
    background: var(--color-2);
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Download Page
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


._1bq4x9pa4-9RLY-dXWUZTp {
    width: -webkit-fill-available;
    margin: 0 0 0 15px;
    border-radius: 8px;
    background: var(--color-3);
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Banner
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

._3KDkLoCR8OM8xfdQysKn9t {
	width: auto;
	margin: 15px;
	border-radius: 8px;
    background: var(--color-2);
}
._3mZ2rKd2RECK4q4ufmsDYX {
	border-radius: 8px;
    background: none !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Main
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.SEmVpmXrYVl3OxL1sDFTg {
    display: none;
}

._3Mbhnlk1Go2j8yCdjthzc7 {
    margin-top: 0;
    margin-bottom: 12px;
    padding-bottom: 0;
}
._3Mbhnlk1Go2j8yCdjthzc7:nth-child(n+2) {
    margin-top: 0;
}

/* Items */
.IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi {
    border: none;
}

._1VNuYHM6BPBOJspC6zPf5r {
    padding: 8px 0px 8px 24px;
    border-radius: 8px !important;
}
._1VNuYHM6BPBOJspC6zPf5r:hover {
    background-color: #252525;
}
._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg {
    margin: 0 15px;
}












._3LE-6w1ItIAB4CKJFCa3Od {
    padding: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(102, 108, 255, 0.00) 0%, rgba(102, 108, 255, 0.15) 100%), linear-gradient(270deg, rgba(135, 140, 255, 0.00) 0%, rgba(135, 140, 255, 0.15) 100%), #1E1E1E;
}
._3LE-6w1ItIAB4CKJFCa3Od ._2z8Na_s9JosX48wHF4HPiA {
    width: 100%;
}
._2SAb6geDpe6toA1GaP0GjH._1E_ENwpaym7n3ke0XFpczv {
    border-radius: 8px;
    background: unset;
}

._2aeAnRfwltWfd9Hb9M_1uE {
    display: grid;
}
._2aeAnRfwltWfd9Hb9M_1uE .qX4kNo6O0M-mYntdErKSJ {
    order: 2;
    font-size: 12px;
    font-weight: 400;
    color: var(--accent-2) !important;
}
._2aeAnRfwltWfd9Hb9M_1uE .My1beniJXh9pXud8rxYLK {
    order: 1;
    font-weight: 400;
    color: #D2D2D2;
}

._1kCN0pAntrcGCSmcc-vYdk {
    height: 100%;
    margin: 0 5px;
    padding: 10px 15px 10px 30px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    color: #666CFF;
    background: rgba(102, 108, 255, 0.20);
}
._1kCN0pAntrcGCSmcc-vYdk ._2Jkk-4RGWzhce22lSnA9Em {
    fill: #666CFF;
}