/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Main Game List
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.library_MainPanel_3BFcm {
    margin: 0 15px 0 0;
    border-radius: 8px;
}
.library_AppDetailsTransitionGroup_2Dd4T {
    border-radius: 8px;
}
.library_AppDetailsTransitionGroup_2Dd4T,
.libraryhome_Container_2gSXC,
.libraryhome_LibraryHome_3Sb2o {
    background: none;
    background-image: none;
}
.libraryhome_Container_2gSXC {
    background: var(--color-3);
}
.libraryhome_UpdatesContainer_17uEB {
    margin: 15px;
    border-radius: 8px;
    background: var(--color-2);
}




/*
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?
?Download Page
?
?
!=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Base
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.downloads_DownloadsPage_1bq4x {
    width: -webkit-fill-available;
    margin: 0 0 0 15px;
    border-radius: 8px;
    background: var(--color-3);
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Banner
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.downloadgraph_GraphAndStats_3KDkL {
	width: auto;
	margin: 15px;
	border-radius: 8px;
    background: var(--color-2);
}
.downloadgraph_HeroAndLogo_3mZ2r {
	border-radius: 8px;
    background: none !important;
}


/*
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
?
?Main
?
*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/


.downloads_TopBar_SEmVp {
    display: none;
}

.downloads_Section_3Mbhn {
    margin-top: 0;
    margin-bottom: 12px;
    padding-bottom: 0;
}
.downloads_Section_3Mbhn:nth-child(n+2) {
    margin-top: 0;
}

/* Items */
.downloads_Active_IbePL .downloads_SectionList_OINnO {
    border: none;
}

.downloads_SectionItem_1VNuY {
    padding: 8px 0px 8px 24px;
    border-radius: 8px !important;
}
.downloads_SectionItem_1VNuY:hover {
    background-color: #252525;
}
.downloads_SectionItem_1VNuY.downloads_Active_IbePL {
    margin: 0 15px;
}












.appdetailsspotlight_ReviewContainer_3LE-6 {
    padding: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(102, 108, 255, 0.00) 0%, rgba(102, 108, 255, 0.15) 100%), linear-gradient(270deg, rgba(135, 140, 255, 0.00) 0%, rgba(135, 140, 255, 0.15) 100%), #1E1E1E;
}
.appdetailsspotlight_ReviewContainer_3LE-6 .appdetailsspotlight_Inner_2z8Na {
    width: 100%;
}
.writereview_RatingContainer_2SAb6.appdetailsspotlight_RatingContainer_1E_EN {
    border-radius: 8px;
    background: unset;
}

.writereview_LeftContainer_2aeAn {
    display: grid;
}
.writereview_LeftContainer_2aeAn .writereview_Playtime_qX4kN {
    order: 2;
    font-size: 12px;
    font-weight: 400;
    color: var(--accent-2) !important;
}
.writereview_LeftContainer_2aeAn .writereview_RecommendGame_My1be {
    order: 1;
    font-weight: 400;
    color: #D2D2D2;
}

.writereview_ReviewThumbButton_1kCN0 {
    height: 100%;
    margin: 0 5px;
    padding: 10px 15px 10px 30px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    color: #666CFF;
    background: rgba(102, 108, 255, 0.20);
}
.writereview_ReviewThumbButton_1kCN0 .writereview_ThumbIcon_2Jkk- {
    fill: #666CFF;
}