:root {
  /*! Theme Settings */
  --color-1: #111111;
  --color-2: #1e1e1e;
  --color-3: #141414;
  --color-4: #181818;
  --color-5: #26292c;
  --color-6: #262629;
  --accent: #878CFF;
  --accent-2: #6a6bff;
  --background: #0a0a0a;
}