.gamepaddialog_ToggleRail_2JtC3 {
    background-color: var(--color-2) !important;
}
.gamepaddialog_ToggleRail_2JtC3::before {
    background-color: var(--accent) !important;
    transform: translateX(-40px);
}
.gamepaddialog_On_3ld7T .gamepaddialog_ToggleRail_2JtC3::before {
    transform: translateX(0px) !important;
}

.gamepaddialog_ToggleSwitch_3__OD {
    width: 16px;
    height: 16px;
    margin: 3px;
    background: black;
    transform: translateX(0px);
}