.gQWgnAxVrOM- body.VuAIAiWhjcg- {
    background: transparent !important;
    background-color: transparent !important;
}
.gQWgnAxVrOM- body.VuAIAiWhjcg-::before {
    content: "";
    z-index: -1;
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
    background-color: rgb(var(--color-1));
}

.gQWgnAxVrOM- .GHIW6-Wf1rQ- {
    background: transparent !important;
    background-color: transparent !important;
}



/* Wishlist button */
.gQWgnAxVrOM- .bFz2fxg5qDY- {
    display: none;
}



/*
! Header
*/

.gQWgnAxVrOM- .jfAmlCmNzHQ- {
    margin: 16px 0 0;
    padding: 12px;
    border-radius: 8px 8px 0 0;
    background-color: rgb(var(--color-2));
}


/* Avatar */
.gQWgnAxVrOM- .OVtmn7mzw0o- {
    width: 54px;
    height: 54px;
}

.gQWgnAxVrOM- .gRteJ-XhQG8- {
    background: none !important;
}

.gQWgnAxVrOM- .t1-DQ4KhiQ0- .YbrTGQJwy1w- {
    border-radius: 100%;
    background: none !important;
}

.gQWgnAxVrOM- .t1-DQ4KhiQ0- .EeeZUuRovTI- {
    display: none;
}


/* Text */
.gQWgnAxVrOM- .jfAmlCmNzHQ- h2 {
    margin: 0 0 0 12px;
    font-size: 20px;
}


/* Controls */
.gQWgnAxVrOM- .TU227nj1DiE- {
    gap: 12px;
    margin: 0 0 16px;
    padding: 0 12px 12px;
    border-radius: 0 0 8px 8px;
    background-color: rgb(var(--color-2));
}

.gQWgnAxVrOM-:has(.Wh-OfiQaHSM-) .TU227nj1DiE- {
    margin: 0;
    padding: 0 12px 6px;
    border-radius: 0;
}

/* Search */
.gQWgnAxVrOM- .TU227nj1DiE- .JqFaNxdHYhs- {
    margin: 0;
    padding: 0 0 0 12px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: rgb(var(--color-1));
    box-shadow: none;
}

/* Dropdown */
.gQWgnAxVrOM- .TU227nj1DiE- .ADJFyRYJvZU- {
    gap: 6px;
}

.gQWgnAxVrOM- .TU227nj1DiE- ._1PVYT-GpKSQ- {
    margin: 0;
    color: rgb(var(--accent-1));
    border-radius: 8px;
    background-color: rgb(var(--color-1));
}

/* Option Menu */
.gQWgnAxVrOM- .F0YMvqVKHkY- {
    margin: 6px auto 0;
    padding: 12px;
    border: 2px solid rgb(var(--color-5));
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgb(0, 0, 0);
    background-color: rgb(var(--color-2));
}

.gQWgnAxVrOM- .F0YMvqVKHkY- form {
    grid-gap: 6px;
}


/* Filter tags */
.gQWgnAxVrOM- span:has(.Wh-OfiQaHSM-) {
    display: block;
    margin: 0 0 16px;
    padding: 0 12px 12px;
    border-radius: 0 0 8px 8px;
    background-color: rgb(var(--color-2));
}

.gQWgnAxVrOM- .Wh-OfiQaHSM- {
    margin: 0;
    padding: 6px 28px 6px 6px;
    border-radius: 8px;
    background-color: rgb(var(--color-3));
    background-position: right 6px top 8px;
}
.gQWgnAxVrOM- .Wh-OfiQaHSM-::after {
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    padding: 3px;
    color: #67707b;
    background-color: rgb(var(--color-5));
}


/* Divider */
.gQWgnAxVrOM- ._0tyA9oW-HwA- {
    display: none;
}



/*
! Cards
*/

.gQWgnAxVrOM- .LSY1zV2DJSM- {
    gap: 12px;
    width: -webkit-fill-available;
    margin: 0 0 6px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--color-2));
    box-shadow: none;
}


/* Number */
.gQWgnAxVrOM- .svelte-ujxp4o.svelte-ujxp4o {
    display: none;
}


/* Image */
.gQWgnAxVrOM- .LSY1zV2DJSM- .oVvbc-NOBF8- {
    margin: 0;
    background: unset;
}

.gQWgnAxVrOM- .LSY1zV2DJSM- .oVvbc-NOBF8- img,
.gQWgnAxVrOM- .LSY1zV2DJSM- .oVvbc-NOBF8- ._80azkrfBXSM- {
    border-radius: 8px;
}


/* Purchase */
.gQWgnAxVrOM- .LSY1zV2DJSM- .wzQIocnKXn4- {
    background-color: unset;
}

/* Discount */
.gQWgnAxVrOM- .LSY1zV2DJSM- .wzQIocnKXn4- .bWcsWKN3D84-,
.gQWgnAxVrOM- .LSY1zV2DJSM- .wzQIocnKXn4- .bWcsWKN3D84- .XXn-kJ7FSrw-,
.gQWgnAxVrOM- .LSY1zV2DJSM- .wzQIocnKXn4- .bundle_base_discount {
    font-size: 14px;
    border-radius: 8px;
}