.gamelistdropdown_Bar_1ZS_x {
	background: var(--color-2);
	border-radius: 8px 8px 0 0;
	margin-top: 15px;
}
.gamelistdropdown_Bar_1ZS_x
.gamelistdropdown_MenuHeader_2PF_m {
	border-radius: 8px;
	background-color: var(--color-3);
}