:root {
  /*! Logo Settings*/
  --Space-logo-text: #878CFF;
  --Theme-logo-text: #666CFF;
  
  /*! Theme Settings */
  --1th-color: #111111;
  --2th-color: #1e1e1e;
  --3th-color: #141414;
  --4th-color: #181818;
  --5th-color: #26292c;
  --6th-color: #262629;
  --accent-color: #6a6bff;
  --background-color: #0a0a0a;
}