*::-webkit-scrollbar {
  width: 14px !important;
}

*::-webkit-scrollbar-track {
  border-radius: 8px !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px !important;
  border: 4px solid transparent !important;
  background-clip: content-box !important;
  background-color: #878CFF !important;
}

*::-webkit-scrollbar-thumb:hover {
  border: 3px solid transparent !important;
  background-color: #666CFF !important;
}